In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
financial_digital_df = pd.read_excel('./data/dataset/FINANCIAL DIGITAL TXNS_PJDSC.xlsx')
financial_digital_df.head()

       CUST_NUM       AMOUNT       DATE_AND_TIME CHANNEL      TRAN_TYPE
0   4418.325475  2000.885936 2023-04-01 07:55:10  MOBILE       E-WALLET
1   4418.325475  2000.407658 2023-04-01 07:54:01  MOBILE       E-WALLET
2   4418.325475  9829.356544 2023-04-14 11:04:20  MOBILE  BILLS PAYMENT
3   7356.780546  2000.575996 2023-04-11 09:41:43  MOBILE       E-WALLET
4  10768.575579   100.667732 2023-04-02 20:36:51     WEB       E-WALLET

In [3]:
financial_digital_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174613 entries, 0 to 174612
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   CUST_NUM       174613 non-null  float64
 1   AMOUNT         174613 non-null  float64
 2   DATE_AND_TIME  174613 non-null  datetime64[ns]
 3   CHANNEL        174613 non-null  object
 4   TRAN_TYPE      174613 non-null  object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 6.7+ MB

So far so good! No null values yet.

In [4]:
financial_digital_df.describe(include='all')

,CUST_NUM,AMOUNT,DATE_AND_TIME,CHANNEL,TRAN_TYPE
count,174613.000000,1.746130e+05,174613,174613,174613
unique,NaN,NaN,NaN,4,3
top,NaN,NaN,NaN,WEB,E-WALLET
freq,NaN,NaN,NaN,94994,139581
mean,9480.347450,3.383496e+03,2023-05-17 00:30:03.782238208,NaN,NaN
min,107.814656,0.000000e+00,2023-04-01 00:06:39,NaN,NaN
25%,7084.895341,4.066369e+02,2023-04-25 14:52:07,NaN,NaN
50%,10088.303326,1.000800e+03,2023-05-16 11:39:59,NaN,NaN
75%,12255.857538,3.000917e+03,2023-06-08 07:08:17,NaN,NaN
max,14141.980201,1.200000e+06,2023-06-30 23:58:22,NaN,NaN
std,3303.237690,9.076471e+03,NaN,NaN,NaN

As we can see, the `DATE_AND_TIME` feature is a combination of year, month, day, and time components. We break this down first so that all features are atomic in nature. Note that we are only dealing with the year 2023 so this might not be influential for now and only create three new features: `MONTH`, `DAY`, and `TIME`.

In [12]:
financial_digital_df['MONTH'] = financial_digital_df['DATE_AND_TIME'].dt.month
financial_digital_df['DAY'] = financial_digital_df['DATE_AND_TIME'].dt.day
financial_digital_df['TIME'] = financial_digital_df['DATE_AND_TIME'].dt.time

In [14]:
financial_digital_df.drop(labels=['DATE_AND_TIME'], axis=1, inplace=True)

In [15]:
financial_digital_df.head()

       CUST_NUM       AMOUNT CHANNEL      TRAN_TYPE  MONTH  DAY      TIME
0   4418.325475  2000.885936  MOBILE       E-WALLET      4    1  07:55:10
1   4418.325475  2000.407658  MOBILE       E-WALLET      4    1  07:54:01
2   4418.325475  9829.356544  MOBILE  BILLS PAYMENT      4   14  11:04:20
3   7356.780546  2000.575996  MOBILE       E-WALLET      4   11  09:41:43
4  10768.575579   100.667732     WEB       E-WALLET      4    2  20:36:51