In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./data/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.shape

(1338, 7)

In [12]:
for cols in df:
    print(f'{cols}: {df[cols].nunique()} unique values')

age: 47 unique values
sex: 2 unique values
bmi: 548 unique values
children: 6 unique values
smoker: 2 unique values
region: 4 unique values
charges: 1337 unique values

In [16]:
for cols in df:
    if df[cols].dtype == object:
        print(f'{cols}: {df[cols].unique()}')

sex: ['female' 'male']
smoker: ['yes' 'no']
region: ['southwest' 'southeast' 'northwest' 'northeast']

In [20]:
for cols in df:
    if df[cols].dtype != object:
        print(f'{cols} min: {df[cols].min()}')
        print(f'{cols} 0.25 quantile: {df[cols].quantile(0.25)}')
        print(f'{cols} 0.5 quantile: {df[cols].quantile(0.5)}')
        print(f'{cols} 0.75 quantile: {df[cols].quantile(0.75)}')
        print(f'{cols} max: {df[cols].max()}')
        print(f'{cols} mean: {df[cols].mean()}')
        print(f'{cols} median: {df[cols].median()}')
        print(f'{cols} mode: {df[cols].mode()[0]}')

age min: 18
age 0.25 quantile: 27.0
age 0.5 quantile: 39.0
age 0.75 quantile: 51.0
age max: 64
age mean: 39.20702541106129
age median: 39.0
age mode: 18
bmi min: 15.96
bmi 0.25 quantile: 26.29625
bmi 0.5 quantile: 30.4
bmi 0.75 quantile: 34.69375
bmi max: 53.13
bmi mean: 30.66339686098655
bmi median: 30.4
bmi mode: 32.3
children min: 0
children 0.25 quantile: 0.0
children 0.5 quantile: 1.0
children 0.75 quantile: 2.0
children max: 5
children mean: 1.0949177877429
children median: 1.0
children mode: 0
charges min: 1121.8739
charges 0.25 quantile: 4740.28715
charges 0.5 quantile: 9382.033
charges 0.75 quantile: 16639.912515
charges max: 63770.42801
charges mean: 13270.422265141257
charges median: 9382.033
charges mode: 1639.5631

In [21]:
for cols in df:
    if df[cols].dtype != object:
        print(f'{cols} skew: {df[cols].skew()}')
        print(f'{cols} kurtosis: {df[cols].kurt()}')

age skew: 0.05567251565299186
age kurtosis: -1.2450876526418673
bmi skew: 0.2840471105987448
bmi kurtosis: -0.05073153135467834
children skew: 0.9383804401702414
children kurtosis: 0.2024541467168901
charges skew: 1.5158796580240388
charges kurtosis: 1.6062986532967907