In [1]:
import pandas as pd
import numpy as np
import os

# 2022 Malabon Data Sheets

In [2]:
comelec_malabon = pd.read_excel('./2022_MALABON DATA SHEETS_UPDATED_TRIX_21FEB2024.xlsx')
comelec_malabon.head()

,DISTRICT,BARANGAY,CLUSTERED PRECINCT,POLLING CENTER,PRECINCT NO.,CLUSTERED PRECINCT ID,NO. OF REGISTERED VOTERS,TURN OUT,Unnamed: 8,TOV,...,KKM (Women's),LAKAS (Political),THUNDERS (Political),SANGLAHI (LGBT),BATANG LACSON (Youth),WARRIORS (Political),REPUBLIKA (Political),Social Services Recipients,Total JORG Members,Influence
0,1,SAN AGUSTIN,1,Dela Paz ES,"0001A, 0001B,0002A, 0002B",75020001,766,585,NaN,585,...,56,21,21,11.0,4,30,NaN,83,143,2.300699
1,1,SAN AGUSTIN,2,Dela Paz ES,"0003A, 0003B,0004A, 0004B",75020002,762,527,NaN,527,...,73,22,16,4.0,11,8,NaN,84,134,2.231343
2,1,SAN AGUSTIN,3,Dela Paz ES,"0005A, 0005B,0006A, 0006B",75020003,747,556,NaN,556,...,34,11,38,0.0,2,12,NaN,29,97,3.000000
3,1,SAN AGUSTIN,4,Dela Paz ES,"0007A, 0008A,0009A, 0010A",75020004,759,533,NaN,533,...,21,11,44,3.0,1,16,NaN,35,96,3.010417
4,1,SAN AGUSTIN,5,Dela Paz ES,"0011A, 0012A,0012B, 0012C",75020005,770,546,NaN,546,...,9,30,79,3.0,1,13,NaN,52,135,2.488889

In [3]:
comelec_malabon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DISTRICT                    355 non-null    int64
 1   BARANGAY                    355 non-null    object
 2   CLUSTERED PRECINCT          355 non-null    int64
 3   POLLING CENTER              355 non-null    object
 4   PRECINCT NO.                355 non-null    object
 5   CLUSTERED PRECINCT ID       355 non-null    int64
 6   NO. OF REGISTERED VOTERS    355 non-null    int64
 7   TURN OUT                    355 non-null    int64
 8   Unnamed: 8                  0 non-null      float64
 9   TOV                         355 non-null    int64
 10  JAYE LACSON NOEL            355 non-null    int64
 11  RICKY SANDOVAL              355 non-null    int64
 12  Unnamed: 12                 0 non-null      float64
 13  JEANNIE SANDOVAL            355 non-null    int64
 14  ENZO ORETA                  355 non-null    int64
 15  NINO LACSON NOEL            186 non-null    float64
 16  KKM (Women's)               355 non-null    int64
 17  LAKAS (Political)           355 non-null    int64
 18  THUNDERS (Political)        355 non-null    int64
 19  SANGLAHI (LGBT)             354 non-null    float64
 20  BATANG LACSON (Youth)       355 non-null    int64
 21  WARRIORS (Political)        355 non-null    int64
 22  REPUBLIKA (Political)       169 non-null    float64
 23  Social Services Recipients  355 non-null    int64
 24  Total  JORG Members         355 non-null    int64
 25  Influence                   355 non-null    float64
dtypes: float64(6), int64(17), object(3)
memory usage: 72.2+ KB

In [4]:
comelec_malabon.drop(['Unnamed: 8', 'Unnamed: 12'], axis=1, inplace=True)

In [5]:
comelec_malabon.describe()

,DISTRICT,CLUSTERED PRECINCT,CLUSTERED PRECINCT ID,NO. OF REGISTERED VOTERS,TURN OUT,TOV,JAYE LACSON NOEL,RICKY SANDOVAL,JEANNIE SANDOVAL,ENZO ORETA,...,KKM (Women's),LAKAS (Political),THUNDERS (Political),SANGLAHI (LGBT),BATANG LACSON (Youth),WARRIORS (Political),REPUBLIKA (Political),Social Services Recipients,Total JORG Members,Influence
count,355.000000,355.000000,3.550000e+02,355.000000,355.000000,355.000000,355.000000,355.000000,355.000000,355.000000,...,355.000000,355.000000,355.000000,354.000000,355.000000,355.000000,169.000000,355.000000,355.000000,355.000000
mean,1.476056,178.000000,7.692210e+07,727.084507,552.726761,551.983099,288.225352,225.602817,267.115493,263.512676,...,32.216901,29.340845,23.670423,3.042373,4.704225,9.743662,17.674556,44.194366,102.709859,3.365790
std,0.500131,102.623909,3.583495e+07,72.997939,59.008917,60.630536,54.211502,43.874468,46.176347,48.538374,...,23.983416,19.705728,15.815179,2.857506,5.143133,11.424979,11.423425,22.566261,41.347061,2.317555
min,1.000000,1.000000,7.502000e+07,451.000000,265.000000,265.000000,119.000000,110.000000,128.000000,119.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,10.000000,1.110345
25%,1.000000,89.500000,7.502009e+07,703.000000,526.000000,526.000000,260.000000,194.500000,235.000000,234.500000,...,15.000000,15.500000,12.000000,1.000000,1.000000,1.000000,10.000000,28.000000,73.000000,2.252041
50%,1.000000,178.000000,7.502018e+07,758.000000,566.000000,566.000000,290.000000,229.000000,274.000000,262.000000,...,26.000000,25.000000,20.000000,2.000000,3.000000,6.000000,16.000000,41.000000,98.000000,2.801724
75%,2.000000,266.500000,7.502027e+07,778.000000,591.500000,591.500000,322.000000,255.500000,300.000000,292.000000,...,43.000000,39.000000,32.000000,5.000000,6.000000,14.000000,23.000000,55.000000,129.000000,3.865162
max,2.000000,355.000000,7.502023e+08,800.000000,689.000000,689.000000,476.000000,337.000000,384.000000,458.000000,...,165.000000,142.000000,96.000000,15.000000,44.000000,93.000000,52.000000,131.000000,290.000000,34.200000

In [6]:
comelec_malabon['THUNDERS (Political)'].sum()

8403

In [7]:
list_of_jorgs = []
for ind in range(-10, -3):
    list_of_jorgs.append(comelec_malabon.columns[ind])

Create Turnout Percentage Column

In [8]:
comelec_malabon['TURNOUT PERCENTAGE'] = (comelec_malabon['TURN OUT']/comelec_malabon['NO. OF REGISTERED VOTERS'])*100

In [9]:
comelec_malabon['JAYE VS TO'] = (comelec_malabon['JAYE LACSON NOEL']/comelec_malabon['TURN OUT'])*100
comelec_malabon['JEANNIE VS TO'] = comelec_malabon['JEANNIE SANDOVAL']/comelec_malabon['TURN OUT']

In [292]:
comelec_malabon['Influence'] = comelec_malabon['JAYE LACSON NOEL']/comelec_malabon['Total  JORG Members']

In [11]:
comelec_malabon[['DISTRICT', 'BARANGAY', 'NO. OF REGISTERED VOTERS', 'TURN OUT', 'JAYE LACSON NOEL', 'CLUSTERED PRECINCT', 'TURNOUT PERCENTAGE', 'JAYE VS TO', 'LAKAS (Political)', 'Influence']].sort_values(by=['JAYE VS TO'], axis=0).to_excel('TURNOUT PERCENTAGE.xlsx')

In [295]:
comelec_malabon[['DISTRICT', 'BARANGAY', 'CLUSTERED PRECINCT', 'JAYE LACSON NOEL', 'Total  JORG Members', 'Influence']].sort_values(by=['Influence'], axis=0).to_excel('MEMBERSHIP TRANSLATION.xlsx')

Might want to plot into a line chart. Y-axis is Influence and the x-axis is the Total JORG Members.

In [13]:
comelec_malabon.columns

Index(['DISTRICT', 'BARANGAY', 'CLUSTERED PRECINCT', 'POLLING CENTER',
       'PRECINCT NO.', 'CLUSTERED PRECINCT ID', 'NO. OF REGISTERED VOTERS',
       'TURN OUT', 'TOV', 'JAYE LACSON NOEL', 'RICKY SANDOVAL',
       'JEANNIE SANDOVAL', 'ENZO ORETA', 'NINO LACSON NOEL', 'KKM (Women's)',
       'LAKAS (Political)', 'THUNDERS (Political)', 'SANGLAHI (LGBT)',
       'BATANG LACSON (Youth)', 'WARRIORS (Political)',
       'REPUBLIKA (Political)', 'Social Services Recipients',
       'Total  JORG Members', 'Influence', 'TURNOUT PERCENTAGE', 'JAYE VS TO',
       'JEANNIE VS TO'],
      dtype='object')

In [14]:
barangay_vs_jorg_view = comelec_malabon.groupby(['BARANGAY'])[list_of_jorgs].sum()

for jorg in list_of_jorgs:
    comelec_malabon[f'{jorg} %'] = 0. # dummy variable

for jorg in list_of_jorgs:
    for clustered_precinct in range(0, 355):
        barangay = comelec_malabon.iloc[clustered_precinct,1]
        numerator = comelec_malabon.loc[clustered_precinct, jorg]
        denominator = barangay_vs_jorg_view.loc[barangay, jorg]
        if denominator == 0:
            comelec_malabon.at[clustered_precinct, f'{jorg} %'] = 0
        else:
            comelec_malabon.at[clustered_precinct, f'{jorg} %'] = numerator/denominator

In [15]:
comelec_malabon.head()

,DISTRICT,BARANGAY,CLUSTERED PRECINCT,POLLING CENTER,PRECINCT NO.,CLUSTERED PRECINCT ID,NO. OF REGISTERED VOTERS,TURN OUT,TOV,JAYE LACSON NOEL,...,TURNOUT PERCENTAGE,JAYE VS TO,JEANNIE VS TO,KKM (Women's) %,LAKAS (Political) %,THUNDERS (Political) %,SANGLAHI (LGBT) %,BATANG LACSON (Youth) %,WARRIORS (Political) %,REPUBLIKA (Political) %
0,1,SAN AGUSTIN,1,Dela Paz ES,"0001A, 0001B,0002A, 0002B",75020001,766,585,585,329,...,76.370757,56.239316,0.497436,0.181818,0.069079,0.039033,0.314286,0.090909,0.110294,0.0
1,1,SAN AGUSTIN,2,Dela Paz ES,"0003A, 0003B,0004A, 0004B",75020002,762,527,527,299,...,69.160105,56.736243,0.510436,0.237013,0.072368,0.029740,0.114286,0.250000,0.029412,0.0
2,1,SAN AGUSTIN,3,Dela Paz ES,"0005A, 0005B,0006A, 0006B",75020003,747,556,556,291,...,74.431058,52.338129,0.496403,0.110390,0.036184,0.070632,0.000000,0.045455,0.044118,0.0
3,1,SAN AGUSTIN,4,Dela Paz ES,"0007A, 0008A,0009A, 0010A",75020004,759,533,533,289,...,70.223979,54.221388,0.465291,0.068182,0.036184,0.081784,0.085714,0.022727,0.058824,0.0
4,1,SAN AGUSTIN,5,Dela Paz ES,"0011A, 0012A,0012B, 0012C",75020005,770,546,546,336,...,70.909091,61.538462,0.426740,0.029221,0.098684,0.146840,0.085714,0.022727,0.047794,0.0

In [16]:
columns = ['KKM (Women\'s) %', 'LAKAS (Political) %', 'THUNDERS (Political) %', 
           'SANGLAHI (LGBT) %', 'BATANG LACSON (Youth) %', 'WARRIORS (Political) %']

# Find the column name with the maximum value for each row
max_column = comelec_malabon[columns].idxmax(axis=1)

comelec_malabon['MOST MEMBERS PER CLUSTERED PRECINCT'] = max_column

In [58]:
comelec_malabon['MOST MEMBERS PER CLUSTERED PRECINCT'] = comelec_malabon['MOST MEMBERS PER CLUSTERED PRECINCT'].str[:-2]

In [59]:
comelec_malabon.head()

,DISTRICT,BARANGAY,CLUSTERED PRECINCT,POLLING CENTER,PRECINCT NO.,CLUSTERED PRECINCT ID,NO. OF REGISTERED VOTERS,TURN OUT,TOV,JAYE LACSON NOEL,...,JAYE VS TO,JEANNIE VS TO,KKM (Women's) %,LAKAS (Political) %,THUNDERS (Political) %,SANGLAHI (LGBT) %,BATANG LACSON (Youth) %,WARRIORS (Political) %,REPUBLIKA (Political) %,MOST MEMBERS PER CLUSTERED PRECINCT
0,1,SAN AGUSTIN,1,Dela Paz ES,"0001A, 0001B,0002A, 0002B",75020001,766,585,585,329,...,56.239316,0.497436,0.181818,0.069079,0.039033,0.314286,0.090909,0.110294,0.0,SANGLAHI (LGBT)
1,1,SAN AGUSTIN,2,Dela Paz ES,"0003A, 0003B,0004A, 0004B",75020002,762,527,527,299,...,56.736243,0.510436,0.237013,0.072368,0.029740,0.114286,0.250000,0.029412,0.0,BATANG LACSON (Youth)
2,1,SAN AGUSTIN,3,Dela Paz ES,"0005A, 0005B,0006A, 0006B",75020003,747,556,556,291,...,52.338129,0.496403,0.110390,0.036184,0.070632,0.000000,0.045455,0.044118,0.0,KKM (Women's)
3,1,SAN AGUSTIN,4,Dela Paz ES,"0007A, 0008A,0009A, 0010A",75020004,759,533,533,289,...,54.221388,0.465291,0.068182,0.036184,0.081784,0.085714,0.022727,0.058824,0.0,SANGLAHI (LGBT)
4,1,SAN AGUSTIN,5,Dela Paz ES,"0011A, 0012A,0012B, 0012C",75020005,770,546,546,336,...,61.538462,0.426740,0.029221,0.098684,0.146840,0.085714,0.022727,0.047794,0.0,THUNDERS (Political)

In [61]:
comelec_malabon['MOST MEMBERS PER CLUSTERED PRECINCT'].value_counts().to_excel('MOST MEMBERS PER CLUSTERED PRECINCT VALUE COUNTS.xlsx')

In [18]:
comelec_malabon.to_excel('check.xlsx')

Adjsut the BARANGAY column of one dataset so that both datasets would have the same set of values for the said column.

Consider din yung orgs per clustered precinct.

# Masterlist 2023

In [19]:
masterlist = pd.read_excel('./MASTERLIST 32K.xlsx')
masterlist.head()

,NO.,ORG,LAST,FIRST,MIDDLE,FULLNAME,YEAR,MONTH,DAY,POSITION,...,CIVIL STATUS,BIRTH PLACE,PROVINCIAL ADDRESS,TOTAL FAMILY MEMBERS,EDUCATIONAL BACKGROUND,WORK,PRECINCT #,NOTE,REMARKS,Unnamed: 22
0,NaN,BATANG LACSON,LORESTO,XIEMON LARS,MORALES,"LORESTO, XIEMON LARS MORALES",1999,11,3,MEMBER,...,NaN,NaN,NaN,NaN,NaN,NaN,0554A,NaN,NaN,NaN
1,NaN,KKM,ABAD,JOVITA,FLORES,"ABAD, JOVITA FLORES",1956,5,17,MEMBER,...,NaN,NaN,NaN,NaN,NaN,NaN,0556A,OK,NaN,NaN
2,NaN,KKM,ABADEJOS,DOROTHY,ECHALAS,"ABADEJOS, DOROTHY ECHALAS",1974,1,8,MEMBER,...,NaN,NaN,NaN,NaN,NaN,NaN,0570B,OK,NaN,NaN
3,NaN,KKM,ABELLA,LIEZEL,GUILING,"ABELLA, LIEZEL GUILING",1984,6,18,MEMBER,...,NaN,NaN,NaN,NaN,NaN,NaN,0570B,NO ID,NaN,NaN
4,NaN,KKM,ABORDO,ANAPHIE,ESTRABELA,"ABORDO, ANAPHIE ESTRABELA",1980,1,7,MEMBER,...,NaN,NaN,NaN,NaN,NaN,NaN,0559A,NO ID,NaN,NaN

In [20]:
masterlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32089 entries, 0 to 32088
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NO.                     0 non-null      float64
 1   ORG                     32089 non-null  object
 2   LAST                    32089 non-null  object
 3   FIRST                   32089 non-null  object
 4   MIDDLE                  32041 non-null  object
 5   FULLNAME                32089 non-null  object
 6   YEAR                    32082 non-null  object
 7   MONTH                   32082 non-null  object
 8   DAY                     32083 non-null  object
 9   POSITION                32037 non-null  object
 10  ADDRESS                 32066 non-null  object
 11  BARANGAY                32089 non-null  object
 12  SEX                     32089 non-null  object
 13  CIVIL STATUS            80 non-null     object
 14  BIRTH PLACE             80 non-null     object
 15  PROVINCIAL ADDRESS      68 non-null     object
 16  TOTAL FAMILY MEMBERS    58 non-null     float64
 17  EDUCATIONAL BACKGROUND  66 non-null     object
 18  WORK                    0 non-null      float64
 19  PRECINCT #              32082 non-null  object
 20  NOTE                    10201 non-null  object
 21  REMARKS                 23 non-null     object
 22  Unnamed: 22             5 non-null      float64
dtypes: float64(4), object(19)
memory usage: 5.6+ MB

In [21]:
masterlist.describe()

       NO.  TOTAL FAMILY MEMBERS  WORK  Unnamed: 22
count  0.0             58.000000   0.0     5.000000
mean   NaN              2.568966   NaN    50.600000
std    NaN              1.201053   NaN    17.756689
min    NaN              1.000000   NaN    21.000000
25%    NaN              2.000000   NaN    48.000000
50%    NaN              2.000000   NaN    59.000000
75%    NaN              3.000000   NaN    59.000000
max    NaN              7.000000   NaN    66.000000

In [22]:
masterlist.drop(['NO.', 'WORK', 'CIVIL STATUS', 'BIRTH PLACE', 'PROVINCIAL ADDRESS', 'TOTAL FAMILY MEMBERS', 'EDUCATIONAL BACKGROUND', 'REMARKS', 'Unnamed: 22'], axis=1, inplace=True)

In [23]:
masterlist.describe()

,ORG,LAST,FIRST,MIDDLE,FULLNAME,YEAR,MONTH,DAY,POSITION,ADDRESS,BARANGAY,SEX,PRECINCT #,NOTE
count,32089,32089,32089,32041,32089,32082,32082,32083,32037,32066,32089,32089,32082,10201
unique,9,10896,11061,11949,32077,101,30,45,4,14844,27,2,1753,19
top,LAKAS,SANTOS,JENNIFER,-,"GREGORIO, CONCHITA CELEDONIO",2000,10,10,MEMBER,C4 ROAD,TONSUYA,FEMALE,0047B,WITH ID
freq,9914,437,165,661,2,834,2973,1167,32025,263,3814,23241,60,4891

In [24]:
masterlist['YEAR'].unique()

array([1999, 1956, 1974, 1984, 1980, 1977, 1962, 1991, 1959, 1948, 1942,
       '-', 1971, 1968, 1982, 1961, 1972, 1983, 1988, 1967, 1989, 1970,
       1960, 1939, 1975, 1952, 1941, 1973, 1964, 1995, 1976, 1997, 1963,
       1978, 1969, 1966, 2003, 1949, 1955, 1981, 1979, 1990, 1947, 1954,
       1993, 1965, 1958, 1985, 1987, 1951, 1992, 2000, 1986, 1998, 1934,
       1946, 1996, 1945, 1950, 1944, 1994, 1957, 2001, 2002, 2004, 1938,
       1943, 1940, 2993, 1953, 2005, 1872, 1898, 1928, 19888, 19778, 2007,
       2006, 2022, nan, 1920, 1937, 1936, 1935, 197, 1922, 1932, 1931,
       1929, 2009, 2008, 19825, 1877, 19788, 1933, 984, 1086, 1063, 1863,
       1926, 1887, 1875], dtype=object)

In [25]:
invalid_years = {'1875': '1975',
                 '1887':'1987',
                 '1863': '1963',
                 '1063': '1963', 
                 '1086': '1986',
                 '984': '1984',
                 '19788': '1978',
                 '1877': '1977',
                 '19825': '1982',
                 '197': '1977',
                 '19778': '1977',
                 '19888': '1988',
                 '1898': '1998',
                 '1872': '1972',
                 '2993': '1993',
                 '-': '1988'}
masterlist['YEAR'] = masterlist['YEAR'].fillna('1988')
masterlist['YEAR'] = masterlist['YEAR'].astype('str')
masterlist['YEAR'] = masterlist['YEAR'].replace(invalid_years)

In [26]:
masterlist['YEAR'] = masterlist['YEAR'].astype(int)
masterlist['AGE'] = 2024-masterlist['YEAR']

In [51]:
quick_fix = {'KKM ': 'KKM'}
masterlist['ORG'].replace(quick_fix, inplace=True)

In [27]:
masterlist.groupby(['ORG', 'PRECINCT #', 'BARANGAY'])['PRECINCT #'].count().to_excel('ORG-PRECINCT DISTRIBUTION.xlsx')

In [28]:
masterlist.groupby(['PRECINCT #', 'AGE'])['AGE'].count().to_excel('AGE-PRECINCT DISTRIBUTION.xlsx')

In [29]:
masterlist['POSITION'].unique()

array(['MEMBER', nan, 'COORDINATOR', 'PUROK LEADER', 'PL'], dtype=object)

In [30]:
masterlist[(masterlist['POSITION'] == 'COORDINATOR') | (masterlist['POSITION'] == 'PUROK LEADER') | (masterlist['POSITION'] == 'PL')][['ORG', 'FULLNAME', 'BARANGAY', 'SEX', 'PRECINCT #', 'POSITION', 'AGE']].to_excel('COORDINATORS-PUROK LEADERS MASTERLIST.xlsx')

In [31]:
masterlist['POSITION'].value_counts()

POSITION
MEMBER          32025
PL                  7
PUROK LEADER        3
COORDINATOR         2
Name: count, dtype: int64

Fix BARANGAY column

In [32]:
barangay_map = {
    'ACACIA ': 'ACACIA',
    'BAYAN BAYANAN': 'BAYAN-BAYANAN',
    'CATMON ': 'CATMON',
    'CONCEPCION ': 'CONCEPCION',
    'POTRERO ': 'POTRERO',
    'TONSUYA ': 'TONSUYA'
}

masterlist['BARANGAY'] = masterlist['BARANGAY'].replace(barangay_map)

In [33]:
list_of_barangays = []
for barangay in masterlist['BARANGAY'].unique():
    list_of_barangays.append(barangay)

In [34]:
masterlist.groupby(['BARANGAY', 'AGE'])['AGE'].count().to_excel('BARANGAY-AGE DISTRIBUTION.xlsx')

In [35]:
masterlist.groupby(['ORG','BARANGAY', 'AGE'])['AGE'].count().to_excel('ORG-BARANGAY-AGE DISTRIBUTION.xlsx')

In [53]:
boundary_ages, ind = [27, 43, 59, 120], 0
generations = ['GEN Z', 'MILLENIALS', 'GEN X', 'BOOMER']
generation_mapping = {}
for i in range(18,120):
    if i > boundary_ages[ind]:
        ind += 1
    generation_mapping[i] = generations[ind]
masterlist['GENERATION'] = masterlist['AGE'].map(generation_mapping)

In [54]:
masterlist.head()

,ORG,LAST,FIRST,MIDDLE,FULLNAME,YEAR,MONTH,DAY,POSITION,ADDRESS,BARANGAY,SEX,PRECINCT #,NOTE,AGE,GENERATION
0,BATANG LACSON,LORESTO,XIEMON LARS,MORALES,"LORESTO, XIEMON LARS MORALES",1999,11,3,MEMBER,96-A SISA ST.,ACACIA,MALE,0554A,NaN,25,GEN Z
1,KKM,ABAD,JOVITA,FLORES,"ABAD, JOVITA FLORES",1956,5,17,MEMBER,62 SISA ST.,ACACIA,FEMALE,0556A,OK,68,BOOMER
2,KKM,ABADEJOS,DOROTHY,ECHALAS,"ABADEJOS, DOROTHY ECHALAS",1974,1,8,MEMBER,9 ISAGANI ST.,ACACIA,FEMALE,0570B,OK,50,GEN X
3,KKM,ABELLA,LIEZEL,GUILING,"ABELLA, LIEZEL GUILING",1984,6,18,MEMBER,156 SISA ST.,ACACIA,FEMALE,0570B,NO ID,40,MILLENIALS
4,KKM,ABORDO,ANAPHIE,ESTRABELA,"ABORDO, ANAPHIE ESTRABELA",1980,1,7,MEMBER,129 CONSUELO ST.,ACACIA,FEMALE,0559A,NO ID,44,GEN X

In [55]:
masterlist.groupby(['ORG', 'GENERATION'])['GENERATION'].count().unstack().fillna(0).to_excel('JORG-GENERATION DISTRIBUTION.xlsx')

In [56]:
masterlist.groupby(['BARANGAY', 'GENERATION'])['GENERATION'].count().unstack().fillna(0).to_excel('BRGY-GENERATION DISTRIBUTION.xlsx')

In [63]:
masterlist.groupby(['ORG', 'SEX'])['ORG'].count().unstack().to_excel('MASTERLIST ORG-SEX DISTRIBUTION.xlsx')

In [68]:
og_masterlist = pd.read_excel('./ORG MEMBERS AS OF FEB 28 2024.xlsx')
og_masterlist.head()

,NO.,ORG MEMBERSHIP,LAST NAME,FIRST NAME,MIDDLE NAME,FULLNAME,BIRTH YEAR,BIRTH MONTH,BIRTH DAY,DESIGNATION,...,BARANGAY,SEX,CIVIL STATUS,BIRTH PLACE,PROVINCIAL ADDRESS,TOTAL FAMILY MEMBERS,EDUCATIONAL ATTAINMENT,OCCUPATION,PRECINCT #,VERIFICATION NOTES
0,NaN,THUNDERS,ABA,RUTCHEL,ASUELO,"ABA, RUTCHEL ASUELO",1983,1,10,MEMBER,...,TONSUYA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0378C,NaN
1,NaN,KKM,ABABA,JANNIFER,CASINTAHAN,"ABABA, JANNIFER CASINTAHAN",1994,1,10,MEMBER,...,LONGOS,FEMALE,NaN,NaN,NaN,NaN,NaN,NaN,0436B,NaN
2,NaN,LAKAS,ABABAN,GERALD,SALVADOR,"ABABAN, GERALD SALVADOR",2000,1,25,MEMBER,...,CONCEPCION,M,NaN,NaN,NaN,NaN,NaN,NaN,0121B,NaN
3,NaN,KKM,ABABAN,NELIA,SALVADOR,"ABABAN, NELIA SALVADOR",1971,12,11,MEMBER,...,CONCEPCION,F,NaN,NaN,NaN,NaN,NaN,NaN,0101A,NaN
4,NaN,LAKAS,ABABON,MARIVEL,FAJARDO,"ABABON, MARIVEL FAJARDO",1988,9,21,MEMBER,...,TONSUYA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0381C,NaN

In [84]:
og_masterlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32496 entries, 0 to 32495
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   NO.             0 non-null      float64
 1   ORG MEMBERSHIP  32496 non-null  object
 2   LAST NAME       32496 non-null  object
 3   FIRST NAME      32495 non-null  object
 4   MIDDLE NAME     32445 non-null  object
 5   FULLNAME        32496 non-null  object
 6   BIRTH YEAR      32483 non-null  object
 7   BIRTH MONTH     32482 non-null  object
 8   BIRTH DAY       32483 non-null  object
 9   DESIGNATION     32444 non-null  object
 10  ADDRESS         32461 non-null  object
 11  BARANGAY        32496 non-null  object
 12  SEX             22387 non-null  object
 13  PRECINCT #      32482 non-null  object
dtypes: float64(1), object(13)
memory usage: 3.5+ MB

In [71]:
og_masterlist.drop(['CIVIL STATUS', 'BIRTH PLACE', 'PROVINCIAL ADDRESS', 'TOTAL FAMILY MEMBERS', 'EDUCATIONAL ATTAINMENT', 'OCCUPATION', 'VERIFICATION NOTES'], axis=1, inplace=True)

In [74]:
masterlist.merge(og_masterlist, how='outer', on='FULLNAME').to_excel('test.xlsx')

Notes: May 29k na parehas and may 5k na wala sa both. Overall, may 34k JORG members dito.

# Merged Datasets

In [212]:
merged = pd.read_excel('./test.xlsx')

In [213]:
merged.columns

Index(['Unnamed: 0', 'ORG', 'LAST', 'FIRST', 'MIDDLE', 'FULLNAME', 'YEAR',
       'MONTH', 'DAY', 'POSITION', 'ADDRESS_x', 'BARANGAY_x', 'SEX_x',
       'PRECINCT #_x', 'NOTE', 'AGE', 'GENERATION', 'NO.', 'ORG MEMBERSHIP',
       'LAST NAME', 'FIRST NAME', 'MIDDLE NAME', 'BIRTH YEAR', 'BIRTH MONTH',
       'BIRTH DAY', 'DESIGNATION', 'ADDRESS_y', 'BARANGAY_y', 'SEX_y',
       'PRECINCT #_y'],
      dtype='object')

In [216]:
merged['ORG'].fillna(merged['ORG MEMBERSHIP'], inplace=True)
merged['LAST'].fillna(merged['LAST NAME'], inplace=True)
merged['FIRST'].fillna(merged['FIRST NAME'], inplace=True)
merged['MIDDLE'].fillna(merged['MIDDLE NAME'], inplace=True)
merged['POSITION'].fillna(merged['DESIGNATION'], inplace=True)
merged['ADDRESS_x'].fillna(merged['ADDRESS_y'], inplace=True)
merged['BARANGAY_x'].fillna(merged['BARANGAY_y'], inplace=True)
merged['SEX_x'].fillna(merged['SEX_y'], inplace=True)
merged['PRECINCT #_x'].fillna(merged['PRECINCT #_y'], inplace=True)
merged['YEAR'].fillna(merged['BIRTH YEAR'], inplace=True)
merged['MONTH'].fillna(merged['BIRTH MONTH'], inplace=True)
merged['DAY'].fillna(merged['BIRTH DAY'], inplace=True)

In [217]:
merged.drop(['Unnamed: 0', 'ADDRESS_y', 'BARANGAY_y', 'SEX_y', 'PRECINCT #_y', 'LAST NAME', 'FIRST NAME', 'MIDDLE NAME', 'BIRTH YEAR', 'BIRTH MONTH', 'BIRTH DAY', 'ORG MEMBERSHIP', 'NO.', 'DESIGNATION'], axis=1,inplace=True)

In [220]:
merged['AGE'] = merged['AGE'].fillna(2024)

In [222]:
merged['AGE'] = merged['AGE'].astype(int)

In [224]:
merged['YEAR'].unique()

array([1999.0, 1956.0, 1974.0, 1984.0, 1980.0, 1977.0, 1962.0, 1991.0,
       1959.0, 1948.0, 1942.0, 1988.0, 1971.0, 1968.0, 1982.0, 1961.0,
       1972.0, 1983.0, 1967.0, 1989.0, 1970.0, 1960.0, 1939.0, 1975.0,
       1952.0, 1941.0, 1973.0, 1964.0, 1995.0, 1976.0, 1997.0, 1963.0,
       1978.0, 1969.0, 1966.0, 2003.0, 1949.0, 1955.0, 1981.0, 1979.0,
       1990.0, 1947.0, 1954.0, 1993.0, 1965.0, 1958.0, 1985.0, 1987.0,
       1951.0, 1992.0, 2000.0, 1986.0, 1998.0, 1934.0, 1946.0, 1996.0,
       1945.0, 1950.0, 1944.0, 1994.0, 1957.0, 2001.0, 2002.0, 2004.0,
       1938.0, 1943.0, 1940.0, 1953.0, 2005.0, 1928.0, 2007.0, 2006.0,
       2022.0, 1920.0, 1937.0, 1936.0, 1935.0, 1922.0, 1932.0, 1931.0,
       1929.0, 2009.0, 2008.0, 1933.0, 1926.0, '-', nan, 984, 1893, 2993],
      dtype=object)

In [225]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34892 entries, 0 to 34891
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ORG           34892 non-null  object
 1   LAST          34892 non-null  object
 2   FIRST         34891 non-null  object
 3   MIDDLE        34840 non-null  object
 4   FULLNAME      34892 non-null  object
 5   YEAR          34885 non-null  object
 6   MONTH         34878 non-null  object
 7   DAY           34879 non-null  object
 8   POSITION      34840 non-null  object
 9   ADDRESS_x     34855 non-null  object
 10  BARANGAY_x    34892 non-null  object
 11  SEX_x         34483 non-null  object
 12  PRECINCT #_x  34878 non-null  object
 13  NOTE          10207 non-null  object
 14  AGE           34892 non-null  int32
 15  GENERATION    32129 non-null  object
dtypes: int32(1), object(15)
memory usage: 4.1+ MB

In [235]:
merged.rename(columns={
    'ADDRESS_x': 'ADDRESS',
    'BARANGAY_x': 'BARANGAY',
    'SEX_x': 'SEX',
    'PRECINCT #_x': 'PRECINCT'
}, inplace=True)

In [232]:
merged['AGE'] = merged['AGE'].astype('object')

AGE
24     835
36     826
32     794
34     782
31     774
      ...
104      1
15       1
16       1
96       1
98       1
Name: count, Length: 85, dtype: int64

In [100]:
merged.to_excel('./test2.xlsx')

In [233]:
merged.shape

(34892, 16)

In [236]:
merged.columns

Index(['ORG', 'LAST', 'FIRST', 'MIDDLE', 'FULLNAME', 'YEAR', 'MONTH', 'DAY',
       'POSITION', 'ADDRESS', 'BARANGAY', 'SEX', 'PRECINCT', 'NOTE', 'AGE',
       'GENERATION'],
      dtype='object')

In [237]:
merged.groupby('ORG')['ORG'].count()

ORG
                                          1
BATANG LACSON                          1077
KKM                                   10570
LAKAS                                 10818
REPUBLIKA                              1211
SANGLAHI                               1645
SENIOR                                   40
SPECIAL OPS                               2
THUNDERS                               9461
WARAYNON                                 37
WARRIORS                                 30
Name: ORG, dtype: int64

In [238]:
organization_list = ['KKM', 'BATANG LACSON', 'LAKAS', 'REPUBLIKA', 'SANGLAHI', 'THUNDERS', 'WARRIORS']

In [114]:
merged[merged['ORG'].isin(organization_list)].groupby('ORG')['ORG'].count().to_excel('MERGED ORGS LIST.xlsx')

## Merged JORG Members per Clustered Precinct

In [239]:
comelec_malabon.head()

,DISTRICT,BARANGAY,CLUSTERED PRECINCT,POLLING CENTER,PRECINCT NO.,CLUSTERED PRECINCT ID,NO. OF REGISTERED VOTERS,TURN OUT,TOV,JAYE LACSON NOEL,...,JAYE VS TO,JEANNIE VS TO,KKM (Women's) %,LAKAS (Political) %,THUNDERS (Political) %,SANGLAHI (LGBT) %,BATANG LACSON (Youth) %,WARRIORS (Political) %,REPUBLIKA (Political) %,MOST MEMBERS PER CLUSTERED PRECINCT
0,1,SAN AGUSTIN,1,Dela Paz ES,"0001A, 0001B,0002A, 0002B",75020001,766,585,585,329,...,56.239316,0.497436,0.181818,0.069079,0.039033,0.314286,0.090909,0.110294,0.0,SANGLAHI (LGBT)
1,1,SAN AGUSTIN,2,Dela Paz ES,"0003A, 0003B,0004A, 0004B",75020002,762,527,527,299,...,56.736243,0.510436,0.237013,0.072368,0.029740,0.114286,0.250000,0.029412,0.0,BATANG LACSON (Youth)
2,1,SAN AGUSTIN,3,Dela Paz ES,"0005A, 0005B,0006A, 0006B",75020003,747,556,556,291,...,52.338129,0.496403,0.110390,0.036184,0.070632,0.000000,0.045455,0.044118,0.0,KKM (Women's)
3,1,SAN AGUSTIN,4,Dela Paz ES,"0007A, 0008A,0009A, 0010A",75020004,759,533,533,289,...,54.221388,0.465291,0.068182,0.036184,0.081784,0.085714,0.022727,0.058824,0.0,SANGLAHI (LGBT)
4,1,SAN AGUSTIN,5,Dela Paz ES,"0011A, 0012A,0012B, 0012C",75020005,770,546,546,336,...,61.538462,0.426740,0.029221,0.098684,0.146840,0.085714,0.022727,0.047794,0.0,THUNDERS (Political)

In [134]:
precinct_numbers = comelec_malabon['PRECINCT NO.'].to_list()

In [135]:
for ind in range(len(precinct_numbers)):
    precinct_numbers[ind] = precinct_numbers[ind].split(',')
    for jnd in range(len(precinct_numbers[ind])):
        precinct_numbers[ind][jnd] = precinct_numbers[ind][jnd].strip()

In [138]:
clustered_precinct_map = {}
for ind in range(len(precinct_numbers)):
    for jnd in range(len(precinct_numbers[ind])):
        clustered_precinct_map[str(precinct_numbers[ind][jnd])] = ind+1

In [240]:
merged['CLUSTERED PRECINCT'] = merged['PRECINCT'].map(clustered_precinct_map)

In [241]:
merged['CLUSTERED PRECINCT'] = merged['CLUSTERED PRECINCT'].fillna(0)

In [159]:
merged[merged['ORG'].isin(organization_list)].groupby(['ORG', 'CLUSTERED PRECINCT'])['CLUSTERED PRECINCT'].count().unstack().fillna(0).transpose().to_excel('MERGED ORG-CLUSTERED PRECINCT.xlsx')

In [150]:
nonorg_list = ['WARAYNON', 'SENIOR', 'SPECIAL OPS']

In [153]:
merged[merged['ORG'].isin(nonorg_list)].groupby(['ORG', 'CLUSTERED PRECINCT'])['CLUSTERED PRECINCT'].count().unstack().fillna(0).transpose().to_excel('MERGED NON ORG-CLUSTERED PRECINCT.xlsx')

In [242]:
# Fix Sex
merged['SEX'].unique()

array(['MALE', 'FEMALE', nan, 'F', 'LGBT', 'M', 'Female', 'Male'],
      dtype=object)

In [244]:
sex_fix = {
    'F': 'FEMALE',
    'M': 'MALE',
    'Female': 'FEMALE',
    'Male': 'MALE'
}
merged['SEX'] = merged['SEX'].replace(sex_fix)

In [245]:
is_in_org = merged[merged['ORG'].isin(organization_list)]

In [ ]:
is_in_org.groupby(['CLUSTERED PRECINCT', 'SEX'])['SEX'].count().unstack().fillna(0).to_excel('MERGED CLUSTERED PRECINCT-SEX DISTRIBUTION.xlsx')

In [172]:
is_in_org.groupby(['ORG', 'SEX'])['SEX'].count().unstack().fillna(0).to_excel('MERGED ORG-SEX DISTRIBUTION.xlsx')

In [206]:
is_in_org.groupby(['BARANGAY', 'DISTRICT', 'SEX'])['SEX'].count().unstack().fillna(0).to_excel('MERGED BARANGAY-SEX DISTRIBUTION.xlsx')

In [247]:
to_fix = {
    'TAÃ‘ONG': 'TAÑONG',
    'CATMON ': 'CATMON',
    'POTRERO ': 'POTRERO',
    'BAYAN BAYANAN': 'BAYAN-BAYANAN',
}
merged['BARANGAY'] = merged['BARANGAY'].replace(to_fix)

In [279]:
district1 = "BARITAN, \
BAYAN-BAYANAN, \
CATMON, \
CONCEPCION, \
DAMPALIT, \
FLORES, \
HULONG DUHAT, \
IBABA, \
MAYSILO, \
MUZON, \
NIUGAN, \
PANGHULO, \
SAN AGUSTIN, \
SANTULAN, \
TAÑONG, \
"

district1 = district1.split('\n')[0].split(',')[:-1]
for i in range(15):
    district1[i] = district1[i].strip()
district2 = ['ACACIA', 'LONGOS', 'POTRERO', 'TINAJEROS', 'TONSUYA', 'TUGATOG']
district_mapper = {}
for i in district1:
    district_mapper[i] = 1
for j in district2:
    district_mapper[j] = 2
merged['DISTRICT'] = merged['BARANGAY'].map(district_mapper).fillna(0).astype(int)

In [249]:
merged.head()

,ORG,LAST,FIRST,MIDDLE,FULLNAME,YEAR,MONTH,DAY,POSITION,ADDRESS,BARANGAY,SEX,PRECINCT,NOTE,AGE,GENERATION,CLUSTERED PRECINCT,DISTRICT
0,BATANG LACSON,LORESTO,XIEMON LARS,MORALES,"LORESTO, XIEMON LARS MORALES",1999.0,11,3,MEMBER,96-A SISA ST.,ACACIA,MALE,0554A,NaN,25,GEN Z,288.0,2
1,KKM,ABAD,JOVITA,FLORES,"ABAD, JOVITA FLORES",1956.0,5,17,MEMBER,62 SISA ST.,ACACIA,FEMALE,0556A,OK,68,BOOMER,288.0,2
2,KKM,ABADEJOS,DOROTHY,ECHALAS,"ABADEJOS, DOROTHY ECHALAS",1974.0,1,8,MEMBER,9 ISAGANI ST.,ACACIA,FEMALE,0570B,OK,50,GEN X,293.0,2
3,KKM,ABELLA,LIEZEL,GUILING,"ABELLA, LIEZEL GUILING",1984.0,6,18,MEMBER,156 SISA ST.,ACACIA,FEMALE,0570B,NO ID,40,MILLENIALS,293.0,2
4,KKM,ABORDO,ANAPHIE,ESTRABELA,"ABORDO, ANAPHIE ESTRABELA",1980.0,1,7,MEMBER,129 CONSUELO ST.,ACACIA,FEMALE,0559A,NO ID,44,GEN X,290.0,2

In [210]:
merged[merged['ORG'].isin(organization_list)].groupby(['ORG','GENERATION'])['GENERATION'].count().unstack().fillna(0).to_excel('MERGED ORG-GENERATION DISTRIBUTION.xlsx')

In [250]:
merged['ORG'].unique()

array(['BATANG LACSON', 'KKM', 'LAKAS', 'REPUBLIKA', 'SANGLAHI',
       'THUNDERS', '                                  ', 'SPECIAL OPS',
       'WARAYNON', 'WARRIORS', 'SENIOR'], dtype=object)

In [211]:
merged[merged['ORG'] == 'WARRIORS']

,ORG,LAST,FIRST,MIDDLE,FULLNAME,YEAR,MONTH,DAY,POSITION,ADDRESS,BARANGAY,SEX,PRECINCT,NOTE,AGE,GENERATION,CLUSTERED PRECINCT,DISTRICT
32242,WARRIORS,ALGODON,ADELFA,-,"ALGODON, ADELFA -",NaN,NaN,NaN,COORDINATOR,-,CATMON,FEMALE,314A,NaN,NaN,NaN,0.0,1
32586,WARRIORS,BUGARIN,JINNALYN,-,"BUGARIN, JINNALYN -",NaN,NaN,NaN,COORDINATOR,-,HULONG DUHAT,FEMALE,216A,NaN,NaN,NaN,0.0,1
32749,WARRIORS,CHAN,MICHELLE,DIONISIO,"CHAN, MICHELLE DIONISIO",NaN,NaN,NaN,COORDINATOR,-,TONSUYA,FEMALE,377A,NaN,NaN,NaN,0.0,2
32795,WARRIORS,CORDERO,ALH,-,"CORDERO, ALH -",NaN,NaN,NaN,COORDINATOR,-,LONGOS,MALE,-,NaN,NaN,NaN,0.0,2
32819,WARRIORS,CRISTOBAL,ROSARIO,-,"CRISTOBAL, ROSARIO -",NaN,NaN,NaN,COORDINATOR,-,MUZON,FEMALE,197A,NaN,NaN,NaN,0.0,1
32916,WARRIORS,DE GUZMAN JR,EDUARDO,-,"DE GUZMAN JR, EDUARDO -",NaN,NaN,NaN,COORDINATOR,-,CONCEPCION,MALE,97A,NaN,NaN,NaN,0.0,1
33069,WARRIORS,DESECA,SHERLY,B,"DESECA, SHERLY B",NaN,NaN,NaN,COORDINATOR,44 E. JACINTO ST.,CONCEPCION,FEMALE,109-A,NaN,NaN,NaN,0.0,1
33092,WARRIORS,DIZON,JESSIE,-,"DIZON, JESSIE -",NaN,NaN,NaN,COORDINATOR,-,SAN AGUSTIN,FEMALE,12A,NaN,NaN,NaN,0.0,1
33147,WARRIORS,ENECO,NENITA,T,"ENECO, NENITA T",NaN,NaN,NaN,COORDINATOR,10 RODRIGUEZ ST.,BAYAN-BAYANAN,FEMALE,163-A,NaN,NaN,NaN,0.0,1
33287,WARRIORS,FRANCISCO,MARIETTA,-,"FRANCISCO, MARIETTA -",NaN,NaN,NaN,COORDINATOR,-,FLORES,FEMALE,-,NaN,NaN,NaN,0.0,1
33367,WARRIORS,GATCHALIAN,JOSEFINA,SANTOS,"GATCHALIAN, JOSEFINA SANTOS",NaN,NaN,NaN,COORDINATOR,-,SAN AGUSTIN,FEMALE,0029A,NaN,NaN,NaN,12.0,1
33384,WARRIORS,GERALDIZO,EVELYN,YASINCO,"GERALDIZO, EVELYN YASINCO",NaN,NaN,NaN,COORDINATOR,19 MA. LENI ST. GABRIEL SUBD.,HULONG DUHAT,FEMALE,223-A,NaN,NaN,NaN,0.0,1
33454,WARRIORS,HERMOSILLA,EFREN,-,"HERMOSILLA, EFREN -",NaN,NaN,NaN,COORDINATOR,-,POTRERO,MALE,657A,NaN,NaN,NaN,0.0,2
33541,WARRIORS,LABRADOR,MELODY,-,"LABRADOR, MELODY -",NaN,NaN,NaN,COORDINATOR,-,SAN AGUSTIN,FEMALE,19A,NaN,NaN,NaN,0.0,1
33792,WARRIORS,MARIANO,DENIELYN,-,"MARIANO, DENIELYN -",NaN,NaN,NaN,COORDINATOR,-,ACACIA,FEMALE,-,NaN,NaN,NaN,0.0,2
33822,WARRIORS,MATUBANG,LECHELLE,L,"MATUBANG, LECHELLE L",NaN,NaN,NaN,COORDINATOR,68 INT. HERRERA ST.,IBABA,FEMALE,88-A,NaN,NaN,NaN,0.0,1
33863,WARRIORS,MERCADO,VILMA,VILLANUEVA,"MERCADO, VILMA VILLANUEVA",NaN,NaN,NaN,COORDINATOR,-,TONSUYA,FEMALE,409A,NaN,NaN,NaN,0.0,2
33935,WARRIORS,NANQUIL,LETICIA,-,"NANQUIL, LETICIA -",NaN,NaN,NaN,COORDINATOR,-,MUZON,FEMALE,187B,NaN,NaN,NaN,0.0,1
33958,WARRIORS,NICOLAS,VICKY,-,"NICOLAS, VICKY -",NaN,NaN,NaN,COORDINATOR,-,TAÑONG,FEMALE,37A,NaN,NaN,NaN,0.0,0
33981,WARRIORS,OBRA,ELENA,-,"OBRA, ELENA -",NaN,NaN,NaN,COORDINATOR,-,SANTULAN,FEMALE,289A,NaN,NaN,NaN,0.0,1
34068,WARRIORS,PAGDONSULAN,SHERYL,-,"PAGDONSULAN, SHERYL -",NaN,NaN,NaN,COORDINATOR,-,NIUGAN,FEMALE,362A,NaN,NaN,NaN,0.0,1
34099,WARRIORS,PANIZAL,EMILIA,-,"PANIZAL, EMILIA -",NaN,NaN,NaN,COORDINATOR,-,PANGHULO,FEMALE,273A,NaN,NaN,NaN,0.0,1
34178,WARRIORS,PINEDA,ANGELITA,-,"PINEDA, ANGELITA -",NaN,NaN,NaN,COORDINATOR,-,TUGATOG,FEMALE,492A,NaN,NaN,NaN,0.0,2
34202,WARRIORS,PRINCIPE,NEMIA,-,"PRINCIPE, NEMIA -",NaN,NaN,NaN,COORDINATOR,-,CATMON,FEMALE,321B,NaN,NaN,NaN,0.0,1
34260,WARRIORS,RAMOS,CINDY,BLAS,"RAMOS, CINDY BLAS",NaN,NaN,NaN,COORDINATOR,-,TINAJEROS,FEMALE,579A,NaN,NaN,NaN,0.0,2
34487,WARRIORS,SANTOS,LOURDES,-,"SANTOS, LOURDES -",NaN,NaN,NaN,COORDINATOR,-,NIUGAN,FEMALE,0369A,NaN,NaN,NaN,183.0,1
34557,WARRIORS,SIMMS,VIVIEN,SANTILLAN,"SIMMS, VIVIEN SANTILLAN",NaN,NaN,NaN,COORDINATOR,-,CONCEPCION,FEMALE,106A,NaN,NaN,NaN,0.0,1
34875,WARRIORS,YNECO,ELOISA,M,"YNECO, ELOISA M",NaN,NaN,NaN,COORDINATOR,312 GEN. LUNA,BARITAN,FEMALE,135-A,NaN,NaN,NaN,0.0,1
34876,WARRIORS,YOSON,MARIA GRACE,-,"YOSON, MARIA GRACE -",NaN,NaN,NaN,COORDINATOR,-,TINAJEROS,FEMALE,-,NaN,NaN,NaN,0.0,2
34879,WARRIORS,YUMUL,MA LUISA,-,"YUMUL, MA LUISA -",NaN,NaN,NaN,COORDINATOR,-,SANTULAN,FEMALE,304A,NaN,NaN,NaN,0.0,1

In [268]:
boundary_ages, ind = [27, 43, 59, 120, 2024], 0
generations = ['GEN Z', 'MILLENIALS', 'GEN X', 'BOOMER', 'BOOMER']
generation_mapping = {}
for i in range(2025):
    if i > boundary_ages[ind]:
        ind += 1
    generation_mapping[i] = generations[ind]
merged['GENERATION'] = merged['AGE'].map(generation_mapping)

In [269]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34892 entries, 0 to 34891
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ORG                 34892 non-null  object
 1   LAST                34892 non-null  object
 2   FIRST               34891 non-null  object
 3   MIDDLE              34840 non-null  object
 4   FULLNAME            34892 non-null  object
 5   YEAR                34885 non-null  object
 6   MONTH               34878 non-null  object
 7   DAY                 34879 non-null  object
 8   POSITION            34840 non-null  object
 9   ADDRESS             34855 non-null  object
 10  BARANGAY            34892 non-null  object
 11  SEX                 34483 non-null  object
 12  PRECINCT            34878 non-null  object
 13  NOTE                10207 non-null  object
 14  AGE                 34892 non-null  object
 15  GENERATION          34892 non-null  object
 16  CLUSTERED PRECINCT  34892 non-null  float64
 17  DISTRICT            34892 non-null  int32
dtypes: float64(1), int32(1), object(16)
memory usage: 4.7+ MB

In [283]:
merged[merged['AGE'] != 2024].groupby(['CLUSTERED PRECINCT', 'DISTRICT', 'BARANGAY', 'GENERATION'])['GENERATION'].count().unstack().fillna(0).to_excel('MERGED CLUSTERED PRECINCT-AGE.xlsx')

In [290]:
merged[merged['AGE'] != 2024].groupby('GENERATION')['GENERATION'].count().to_excel('MERGED GENERATION.xlsx')

In [296]:
33201/292

113.70205479452055

In [297]:
merged['PRECINCT'].value_counts().to_excel('PRECINCT VALUE COUNTS.xlsx')

In [298]:
clustered_precinct_map

{'0001A': 1,
 '0001B': 1,
 '0002A': 1,
 '0002B': 1,
 '0003A': 2,
 '0003B': 2,
 '0004A': 2,
 '0004B': 2,
 '0005A': 3,
 '0005B': 3,
 '0006A': 3,
 '0006B': 3,
 '0007A': 4,
 '0008A': 4,
 '0009A': 4,
 '0010A': 4,
 '0011A': 5,
 '0012A': 5,
 '0012B': 5,
 '0012C': 5,
 '0013A': 6,
 '0013B': 6,
 '0014A': 6,
 '0014B': 6,
 '0015A': 7,
 '0015B': 7,
 '0016A': 7,
 '0016B': 7,
 '0016C': 8,
 '0017A': 8,
 '0018A': 8,
 '0018B': 8,
 '0019A': 9,
 '0020A': 9,
 '0021A': 9,
 '0022A': 9,
 '0022B': 10,
 '0023A': 10,
 '0023B': 10,
 '0024A': 10,
 '0024B': 11,
 '0025A': 11,
 '0026A': 11,
 '0027A': 11,
 '0028A': 12,
 '0029A': 12,
 '0030A': 12,
 '0030B': 13,
 '0031A': 13,
 '0031B': 13,
 '0032A': 14,
 '0033A': 14,
 '0053A': 14,
 '0054A': 14,
 '0034A': 15,
 '0035A': 15,
 '0035B': 15,
 '0036A': 15,
 '0037A': 16,
 '0037B': 16,
 '0037C': 16,
 '0038A': 16,
 '0038B': 17,
 '0039A': 17,
 '0039B': 17,
 '0040A': 17,
 '0041A': 18,
 '0041B': 18,
 '0042A': 18,
 '0042B': 18,
 '0043A': 19,
 '0043B': 19,
 '0044A': 19,
 '0044B': 19,
 '0045A': 20,
 '0045B': 20,
 '0046A': 20,
 '0046B': 20,
 '0046C': 21,
 '0047A': 21,
 '0047B': 21,
 '0048A': 22,
 '0048B': 22,
 '0049A': 22,
 '0050A': 23,
 '0051A': 23,
 '0052A': 23,
 '0055A': 24,
 '0055B': 24,
 '0056A': 24,
 '0057A': 24,
 '0058A': 25,
 '0059A': 25,
 '0059B': 25,
 '0060A': 25,
 '0060B': 26,
 '0061A': 26,
 '0061B': 26,
 '0062A': 26,
 '0063A': 27,
 '0063B': 27,
 '0064A': 27,
 '0065A': 28,
 '0066A': 28,
 '0067A': 28,
 '0068A': 29,
 '0068B': 29,
 '0069A': 29,
 '0069B': 29,
 '0069C': 30,
 '0070A': 30,
 '0071A': 30,
 '0072A': 30,
 '0073A': 31,
 '0074A': 31,
 '0075A': 31,
 '0076A': 31,
 '0076B': 32,
 '0077A': 32,
 '0077B': 32,
 '0078A': 32,
 '0079A': 33,
 '0080A': 33,
 '0081A': 33,
 '0082A': 33,
 '0083A': 34,
 '0084A': 34,
 '0085A': 34,
 '0085B': 34,
 '0086A': 35,
 '0086B': 35,
 '0086C': 35,
 '0087A': 35,
 '0088A': 36,
 '0089A': 36,
 '0090A': 36,
 '0091A': 36,
 '0092A': 37,
 '0093A': 37,
 '0093B': 37,
 '0093C': 37,
 '0094A': 38,
 '0094B': 38,
 '0094C': 38,
 '0095A': 38,
 '0096A': 39,
 '0097A': 39,
 '0097B': 39,
 '0097C': 39,
 '0098A': 40,
 '0098B': 40,
 '0099A': 40,
 '0099B': 40,
 '0100A': 41,
 '0100B': 41,
 '0100C': 41,
 '0101A': 41,
 '0101B': 42,
 '0102A': 42,
 '0103A': 42,
 '0104A': 42,
 '0105A': 43,
 '0106A': 43,
 '0107A': 43,
 '0107B': 43,
 '0108A': 44,
 '0109A': 44,
 '0110A': 44,
 '0111A': 44,
 '0111B': 45,
 '0112A': 45,
 '0113A': 45,
 '0114A': 45,
 '0114B': 46,
 '0115A': 46,
 '0116A': 46,
 '0116B': 46,
 '0117A': 47,
 '0118A': 47,
 '0118B': 47,
 '0118C': 47,
 '0119A': 48,
 '0120A': 48,
 '0121A': 48,
 '0121B': 48,
 '0122A': 49,
 '0122B': 49,
 '0123A': 49,
 '0123B': 49,
 '0124A': 50,
 '0125A': 50,
 '0125B': 50,
 '0125C': 50,
 '0126A': 51,
 '0126B': 51,
 '0127A': 51,
 '0127B': 51,
 '0128A': 52,
 '0129A': 52,
 '0129B': 52,
 '0130A': 52,
 '0131A': 53,
 '0132A': 53,
 '0133A': 53,
 '0134A': 53,
 '0135A': 54,
 '0135B': 54,
 '0135C': 54,
 '0135D': 54,
 '0136A': 55,
 '0136B': 55,
 '0136C': 55,
 '0136D': 55,
 '0137A': 56,
 '0137B': 56,
 '0138A': 56,
 '0139A': 56,
 '0140A': 57,
 '0140B': 57,
 '0141A': 57,
 '0141B': 57,
 '0142A': 58,
 '0142B': 58,
 '0143A': 58,
 '0143B': 58,
 '0144A': 59,
 '0145A': 59,
 '0146A': 59,
 '0147A': 59,
 '0147B': 60,
 '0147C': 60,
 '0147D': 60,
 '0148A': 60,
 '0148B': 61,
 '0149A': 61,
 '0150A': 61,
 '0151A': 61,
 '0152A': 62,
 '0152B': 62,
 '0153A': 62,
 '0154A': 62,
 '0155A': 63,
 '0155B': 63,
 '0155C': 63,
 '0156': 63,
 '0156B': 64,
 '0157A': 64,
 '0157B': 64,
 '0158A': 64,
 '0159A': 65,
 '0159B': 65,
 '0160A': 65,
 '0161A': 65,
 '0162A': 66,
 '0162B': 66,
 '0163A': 66,
 '0164A': 66,
 '0165A': 67,
 '0165B': 67,
 '0166A': 67,
 '0167A': 67,
 '0167B': 68,
 '0168A': 68,
 '0169A': 68,
 '0170A': 68,
 '0170B': 69,
 '0170C': 69,
 '0171A': 69,
 '0172A': 70,
 '0172B': 70,
 '0172C': 70,
 '0173A': 71,
 '0173B': 71,
 '0174A': 71,
 '0175A': 71,
 '0175B': 72,
 '0176A': 72,
 '0177A': 72,
 '0177B': 72,
 '0178A': 73,
 '0178B': 73,
 '0179A': 73,
 '0180A': 73,
 '0181A': 74,
 '0182A': 74,
 '0183A': 74,
 '0183B': 75,
 '0184A': 75,
 '0184B': 75,
 '0185A': 76,
 '0185B': 76,
 '0186A': 76,
 '0186B': 76,
 '0187A': 77,
 '0187B': 77,
 '0188A': 77,
 '0188B': 77,
 '0189A': 78,
 '0189B': 78,
 '0190A': 78,
 '0190B': 78,
 '0191A': 79,
 '0191B': 79,
 '0192A': 79,
 '0193A': 79,
 '0193B': 80,
 '0194A': 80,
 '0194B': 80,
 '0194C': 80,
 '0195A': 81,
 '0196A': 81,
 '0197A': 81,
 '0198A': 81,
 '0199A': 82,
 '0199B': 82,
 '0199C': 82,
 '0200A': 83,
 '0200B': 83,
 '0201A': 83,
 '0201B': 83,
 '0202A': 84,
 '0202B': 84,
 '0203A': 84,
 '0203B': 84,
 '0204A': 85,
 '0204B': 85,
 '0205A': 85,
 '0205B': 85,
 '0206A': 86,
 '0206B': 86,
 '0207A': 86,
 '0207B': 86,
 '0208A': 87,
 '0208B': 87,
 '0209A': 87,
 '0209B': 87,
 '0210A': 88,
 '0210B': 88,
 '0211A': 88,
 '0211B': 88,
 '0212A': 89,
 '0212B': 89,
 '0213A': 89,
 '0213B': 89,
 '0214A': 90,
 '0215A': 90,
 '0216A': 90,
 '0216B': 90,
 '0216C': 91,
 '0217A': 91,
 '0217B': 91,
 '0218A': 91,
 '0218B': 92,
 '0218C': 92,
 '0219A': 92,
 '0219B': 92,
 '0219C': 93,
 '0220A': 93,
 '0220B': 93,
 '0221A': 93,
 '0221B': 94,
 '0221C': 94,
 '0221D': 94,
 '0222A': 94,
 '0222B': 95,
 '0222C': 95,
 '0223A': 95,
 '0223B': 95,
 '0223C': 96,
 '0224A': 96,
 '0224B': 96,
 '0224C': 96,
 '0225A': 97,
 '0225B': 97,
 '0226A': 97,
 '0226B': 97,
 '0227A': 98,
 '0227B': 98,
 '0228A': 98,
 '0229A': 98,
 '0229B': 99,
 '0230A': 99,
 '0230B': 99,
 '0231A': 99,
 '0231B': 100,
 '0232A': 100,
 '0232B': 100,
 '0233A': 100,
 '0233B': 101,
 '0234A': 101,
 '0234B': 101,
 '0235A': 101,
 '0235B': 102,
 '0236A': 102,
 '0237A': 102,
 '0238A': 102,
 '0238B': 103,
 '0239A': 103,
 '0240A': 103,
 '0240B': 104,
 '0241A': 104,
 '0242A': 104,
 '0243A': 104,
 '0244A': 105,
 '0244B': 105,
 '0244C': 105,
 '0245A': 105,
 '0246A': 106,
 '0246B': 106,
 '0247A': 106,
 '0247B': 106,
 '0248A': 107,
 '0248B': 107,
 '0249A': 107,
 '0250A': 107,
 '0251A': 108,
 '0251B': 108,
 '0251C': 108,
 '0252A': 109,
 '0253A': 109,
 '0254A': 109,
 '0255A': 110,
 '0255B': 110,
 '0256A': 110,
 '0256B': 110,
 '0257A': 111,
 '0257B': 111,
 '0257C': 111,
 '0258A': 111,
 '0258B': 112,
 '0258C': 112,
 '0259A': 112,
 '0260A': 112,
 '0261A': 113,
 '0262A': 113,
 '0263A': 113,
 '0264A': 113,
 '0265A': 114,
 '0266A': 114,
 '0267A': 114,
 '0267B': 114,
 '0268A': 115,
 '0269A': 115,
 '0269B': 115,
 '0270A': 115,
 '0270B': 116,
 '0271A': 116,
 '0271B': 116,
 '0271C': 116,
 '0271D': 117,
 '0272A': 117,
 '0272B': 117,
 '0272C': 117,
 '0272D': 118,
 '0273A': 118,
 '0274A': 118,
 '0275A': 118,
 '0275B': 119,
 '0276A': 119,
 '0276B': 119,
 '0277A': 119,
 '0277B': 120,
 '0278A': 120,
 '0278B': 120,
 '0279A': 120,
 '0280A': 121,
 '0281A': 121,
 '0281B': 121,
 '0282A': 121,
 '0283A': 122,
 '0283B': 122,
 '0284A': 122,
 '0284B': 122,
 '0285A': 123,
 '0285B': 123,
 '0285C': 123,
 '0285D': 123,
 '0286A': 124,
 '0286B': 124,
 '0287A': 124,
 '0287B': 124,
 '0288A': 125,
 '0288B': 125,
 '0289A': 125,
 '0289B': 125,
 '0289C': 126,
 '0290A': 126,
 '0290B': 126,
 '0290C': 126,
 '0291A': 127,
 '0291B': 127,
 '0292A': 127,
 '0292B': 127,
 '0293A': 128,
 '0293B': 128,
 '0294A': 128,
 '0295A': 128,
 '0295B': 129,
 '0296A': 129,
 '0297A': 129,
 '0298A': 129,
 '0298B': 130,
 '0298C': 130,
 '0298D': 130,
 '0299A': 130,
 '0299B': 131,
 '0300A': 131,
 '0300B': 131,
 '0301A': 131,
 '0301B': 132,
 '0301C': 132,
 '0301D': 132,
 '0302A': 132,
 '0303A': 133,
 '0304A': 133,
 '0304B': 133,
 '0304C': 133,
 '0304D': 134,
 '0305A': 134,
 '0306A': 134,
 '0307A': 134,
 '0308A': 135,
 '0309A': 135,
 '0310A': 135,
 '0310B': 135,
 '0311A': 136,
 '0311B': 136,
 '0311C': 136,
 '0311D': 136,
 '0312A': 137,
 '0312B': 137,
 '0312C': 137,
 '0312D': 137,
 '0312E': 138,
 '0313A': 138,
 '0313B': 138,
 '0313C': 138,
 '0313D': 139,
 '0313E': 139,
 '0314A': 139,
 '0314B': 139,
 '0314C': 140,
 '0314D': 140,
 '0314E': 140,
 '0315A': 140,
 '0315B': 141,
 '0315C': 141,
 '0315D': 141,
 '0316A': 141,
 '0316B': 142,
 '0316C': 142,
 '0316D': 142,
 '0317A': 142,
 '0317B': 143,
 '0317C': 143,
 '0317D': 143,
 '0318A': 143,
 '0318B': 144,
 '0318C': 144,
 '0318D': 144,
 '0319A': 144,
 '0319B': 145,
 '0319C': 145,
 '0319D': 145,
 '0320A': 145,
 '0320B': 146,
 '0320C': 146,
 '0320D': 146,
 '0320E': 146,
 '0321A': 147,
 '0321B': 147,
 '0321C': 147,
 '0321D': 147,
 '0321E': 148,
 '0321F': 148,
 '0321G': 148,
 '0322A': 148,
 '0322B': 149,
 '0322C': 149,
 '0322D': 149,
 '0322E': 149,
 '0322F': 150,
 '0323A': 150,
 '0323B': 150,
 '0323C': 150,
 '0323D': 151,
 '0323E': 151,
 '0324A': 151,
 '0324B': 151,
 '0324C': 152,
 '0324D': 152,
 '0324E': 152,
 '0324F': 152,
 '0325A': 153,
 '0325B': 153,
 '0325C': 153,
 '0325D': 153,
 '0325E': 154,
 '0325F': 154,
 '0326A': 154,
 '0326B': 154,
 '0326C': 155,
 '0326D': 155,
 '0326E': 155,
 '0327A': 155,
 '0327B': 156,
 '0327C': 156,
 '0327D': 156,
 '0328A': 156,
 '0328B': 157,
 '0328C': 157,
 '0328D': 157,
 '0328E': 157,
 '0328F': 158,
 '0328G': 158,
 '0329A': 158,
 '0329B': 158,
 '0329C': 159,
 '0329D': 159,
 '0329E': 159,
 '0330A': 159,
 '0330B': 160,
 '0330C': 160,
 '0330D': 160,
 '0331A': 160,
 '0331B': 161,
 '0331C': 161,
 '0331D': 161,
 '0331E': 161,
 '0331F': 162,
 '0332A': 162,
 '0332B': 162,
 '0332C': 162,
 '0332D': 163,
 '0332E': 163,
 '0333A': 163,
 '0333B': 163,
 '0333C': 164,
 '0333D': 164,
 '0333E': 164,
 '0333F': 164,
 '0334A': 165,
 '0334B': 165,
 '0334C': 165,
 '0334D': 165,
 '0334F': 166,
 '0335A': 166,
 '0335B': 166,
 '0335C': 166,
 '0335D': 167,
 '0335E': 167,
 '0336A': 167,
 '0336B': 167,
 '0336C': 168,
 '0337A': 168,
 '0337B': 168,
 '0337C': 168,
 '0337D': 169,
 '0337E': 169,
 '0337F': 169,
 '0338A': 170,
 '0338B': 170,
 '0338C': 170,
 '0338D': 170,
 '0339A': 171,
 '0339B': 171,
 '0340A': 171,
 '0341A': 171,
 '0342A': 172,
 '0343A': 172,
 '0344A': 172,
 '0345A': 172,
 '0345B': 173,
 '0346A': 173,
 '0347A': 173,
 '0348A': 173,
 '0349A': 174,
 '0350A': 174,
 '0350B': 174,
 '0351A': 174,
 '0351B': 175,
 '0352A': 175,
 '0352B': 175,
 '0352C': 175,
 '0353A': 176,
 '0353B': 176,
 '0354A': 176,
 '0355A': 176,
 '0356A': 177,
 '0356B': 177,
 '0356C': 177,
 '0357A': 177,
 '0358A': 178,
 '0358B': 178,
 '0359A': 178,
 '0359B': 178,
 '0360A': 179,
 '0360B': 179,
 '0360C': 179,
 '0360D': 179,
 '0361A': 180,
 '0361B': 180,
 '0362A': 180,
 '0362B': 180,
 '0363A': 181,
 '0363B': 181,
 '0364A': 181,
 '0365A': 181,
 '0365B': 182,
 '0366A': 182,
 '0366B': 182,
 '0367A': 182,
 '0368A': 183,
 '0369A': 183,
 '0370A': 183,
 '0370B': 183,
 '0371A': 184,
 '0371B': 184,
 '0372A': 184,
 '0373A': 185,
 '0373B': 185,
 '0374A': 185,
 '0374B': 186,
 '0375A': 186,
 '0375B': 186,
 '0378A': 188,
 '0376B 0376C': 187,
 '0377A': 187,
 '0377B': 188,
 '0377C': 188,
 '0378B': 188,
 '0378C': 189,
 '0378D': 189,
 '0378E': 189,
 '0378F': 189,
 '0379A': 190,
 '0379B': 190,
 '0379C': 190,
 '0379D': 190,
 '0379E': 191,
 '0379F': 191,
 '0379G': 191,
 '0380A': 191,
 '0380B': 192,
 '0380C': 192,
 '0380D': 192,
 '0381A': 192,
 '0381B': 193,
 '0381C': 193,
 '0382A': 193,
 '0382B': 193,
 '0383A': 194,
 '0383B': 194,
 '0384A': 194,
 '0384B': 194,
 '0384C': 195,
 '0384D': 195,
 '0385A': 195,
 '0385B': 195,
 '0386A': 196,
 '0387A': 196,
 '0388A': 196,
 '0388B': 196,
 '0388C': 197,
 '0389A': 197,
 '0389B': 197,
 '0390A': 197,
 '0390B': 198,
 '0391A': 198,
 '0392A': 198,
 '0393A': 198,
 '0394A': 199,
 '0394B': 199,
 '0394C': 199,
 '0395A': 199,
 '0395B': 200,
 '0395C': 200,
 '0395D': 200,
 '0396A': 200,
 '0396B': 201,
 '0396C': 201,
 '0396D': 201,
 '0397A': 201,
 '0397B': 202,
 '0397C': 202,
 '0397D': 202,
 '0397E': 202,
 '0397F': 203,
 '0398A': 203,
 '0398B': 203,
 '0398C': 203,
 '0398D': 204,
 '0399A': 204,
 '0399B': 204,
 '0399C': 204,
 '0399D': 205,
 '0399E': 205,
 '0399F': 205,
 '0400A': 205,
 '0400B': 206,
 '0400C': 206,
 '0400D': 206,
 '0401A': 206,
 '0401B': 207,
 '0401C': 207,
 '0401D': 207,
 '0402A': 207,
 '0402B': 208,
 '0402C': 208,
 '0402D': 208,
 '0403A': 208,
 '0403B': 209,
 '0403C': 209,
 '0404A': 209,
 '0404B': 209,
 '0404C': 210,
 '0404D': 210,
 '0405A': 210,
 '0405B': 210,
 '0405C': 211,
 '0405D': 211,
 '0406A': 211,
 '0406B': 211,
 '0406C': 212,
 '0406D': 212,
 '0406E': 212,
 '0406F': 212,
 '0407A': 213,
 '0407B': 213,
 '0407C': 213,
 '0407D': 213,
 '0408A': 214,
 '0408B': 214,
 '0408C': 214,
 '0408D': 214,
 '0408E': 215,
 '0409A': 215,
 '0409B': 215,
 '0410A': 215,
 '0410B': 216,
 '0410C': 216,
 '0410D': 216,
 '0410E': 216,
 '0410F': 217,
 '0410G': 217,
 '0411A': 217,
 '0411B': 217,
 '0411C': 218,
 '0412A': 218,
 '0412B': 218,
 '0412C': 218,
 '0413A': 219,
 '0413B': 219,
 '0413C': 219,
 '0414A': 219,
 '0414B': 220,
 '0414C': 220,
 '0414D': 220,
 '0415A': 220,
 '0415B': 221,
 '0415C': 221,
 '0416A': 221,
 '0416B': 221,
 '0417A': 222,
 '0417B': 222,
 '0417C': 222,
 '0417D': 222,
 '0418A': 223,
 '0418B': 223,
 '0419A': 223,
 '0419B': 223,
 '0419C': 224,
 '0420A': 224,
 '0420B': 224,
 '0421A': 224,
 '0421B': 225,
 '0421C': 225,
 '0422A': 225,
 '0422B': 225,
 '0423A': 226,
 '0424A': 226,
 '0424B': 226,
 '0425A': 226,
 '0425B': 227,
 '0425C': 227,
 '0426A': 227,
 '0426B': 227,
 '0427A': 228,
 '0427C': 228,
 '0428A': 228,
 '0429A': 228,
 '0429B': 229,
 '0429C': 229,
 '0430A': 229,
 '0430B': 229,
 '0431A': 230,
 '0431B': 230,
 '0432A': 230,
 '0433A': 231,
 '0434A': 231,
 '0435A': 231,
 '0436A': 232,
 '0436B': 232,
 '0436C': 232,
 '0437A': 232,
 '0437B': 233,
 '0437C': 233,
 '0438A': 233,
 '0438B': 233,
 '0438C': 234,
 '0438D': 234,
 '0439A': 234,
 '0439B': 234,
 '0440A': 235,
 '0440B': 235,
 '0441A': 235,
 '0441B': 235,
 '0441C': 236,
 '0442A': 236,
 '0442B': 236,
 '0442C': 236,
 '0442D': 237,
 '0442E': 237,
 '0443A': 237,
 '0443B': 237,
 '0443C': 238,
 '0443D': 238,
 '0444A': 238,
 '0445A': 238,
 '0445B': 239,
 '0445C': 239,
 '0445D': 239,
 '0445E': 239,
 '0446A': 240,
 '0446B': 240,
 '0446C': 240,
 '0446D': 240,
 '0446E': 241,
 '0447A': 241,
 '0447B': 241,
 '0448A': 241,
 '0448B': 242,
 '0448C': 242,
 '0449A': 242,
 '0449B': 242,
 '0450A': 243,
 '0450B': 243,
 '0450C': 243,
 '0451A': 243,
 '0451B': 244,
 '0452A': 244,
 '0452B': 244,
 '0452C': 244,
 '0452D': 245,
 '0453A': 245,
 '0453B': 245,
 '0453C': 245,
 '0454A': 246,
 '0454B': 246,
 '0455A': 246,
 '0455B': 246,
 '0456A': 247,
 '0456B': 247,
 '0456C': 247,
 '0456D': 247,
 '0457A': 248,
 '0457B': 248,
 '0457C': 248,
 '0458A': 248,
 '0458B': 249,
 '0458C': 249,
 '0458D': 249,
 '0459A': 249,
 '0459B': 250,
 '0459C': 250,
 '0460A': 250,
 '0460B': 250,
 '0460C': 251,
 '0461A': 251,
 '0461B': 251,
 '0461C': 251,
 '0462A': 252,
 '0462B': 252,
 '0463A': 252,
 '0463B': 252,
 '0464A': 253,
 '0464B': 253,
 '0465A': 253,
 '0465B': 253,
 '0465C': 254,
 '0466A': 254,
 '0466B': 254,
 '0467A': 254,
 '0467B': 255,
 '0467C': 255,
 '0468A': 255,
 '0468B': 255,
 '0469A': 256,
 '0469B': 256,
 '0470A': 256,
 ...}

In [299]:
precinct_numbers

[['0001A', '0001B', '0002A', '0002B'],
 ['0003A', '0003B', '0004A', '0004B'],
 ['0005A', '0005B', '0006A', '0006B'],
 ['0007A', '0008A', '0009A', '0010A'],
 ['0011A', '0012A', '0012B', '0012C'],
 ['0013A', '0013B', '0014A', '0014B'],
 ['0015A', '0015B', '0016A', '0016B'],
 ['0016C', '0017A', '0018A', '0018B'],
 ['0019A', '0020A', '0021A', '0022A'],
 ['0022B', '0023A', '0023B', '0024A'],
 ['0024B', '0025A', '0026A', '0027A'],
 ['0028A', '0029A', '0030A'],
 ['0030B', '0031A', '0031B'],
 ['0032A', '0033A', '0053A', '0054A'],
 ['0034A', '0035A', '0035B', '0036A'],
 ['0037A', '0037B', '0037C', '0038A'],
 ['0038B', '0039A', '0039B', '0040A'],
 ['0041A', '0041B', '0042A', '0042B'],
 ['0043A', '0043B', '0044A', '0044B'],
 ['0045A', '0045B', '0046A', '0046B'],
 ['0046C', '0047A', '0047B'],
 ['0048A', '0048B', '0049A'],
 ['0050A', '0051A', '0052A'],
 ['0055A', '0055B', '0056A', '0057A'],
 ['0058A', '0059A', '0059B', '0060A'],
 ['0060B', '0061A', '0061B', '0062A'],
 ['0063A', '0063B', '0064A'],
 ['0065A', '0066A', '0067A'],
 ['0068A', '0068B', '0069A', '0069B'],
 ['0069C', '0070A', '0071A', '0072A'],
 ['0073A', '0074A', '0075A', '0076A'],
 ['0076B', '0077A', '0077B', '0078A'],
 ['0079A', '0080A', '0081A', '0082A'],
 ['0083A', '0084A', '0085A', '0085B'],
 ['0086A', '0086B', '0086C', '0087A'],
 ['0088A', '0089A', '0090A', '0091A'],
 ['0092A', '0093A', '0093B', '0093C'],
 ['0094A', '0094B', '0094C', '0095A'],
 ['0096A', '0097A', '0097B', '0097C'],
 ['0098A', '0098B', '0099A', '0099B'],
 ['0100A', '0100B', '0100C', '0101A'],
 ['0101B', '0102A', '0103A', '0104A'],
 ['0105A', '0106A', '0107A', '0107B'],
 ['0108A', '0109A', '0110A', '0111A'],
 ['0111B', '0112A', '0113A', '0114A'],
 ['0114B', '0115A', '0116A', '0116B'],
 ['0117A', '0118A', '0118B', '0118C'],
 ['0119A', '0120A', '0121A', '0121B'],
 ['0122A', '0122B', '0123A', '0123B'],
 ['0124A', '0125A', '0125B', '0125C'],
 ['0126A', '0126B', '0127A', '0127B'],
 ['0128A', '0129A', '0129B', '0130A'],
 ['0131A', '0132A', '0133A', '0134A'],
 ['0135A', '0135B', '0135C', '0135D'],
 ['0136A', '0136B', '0136C', '0136D'],
 ['0137A', '0137B', '0138A', '0139A'],
 ['0140A', '0140B', '0141A', '0141B'],
 ['0142A', '0142B', '0143A', '0143B'],
 ['0144A', '0145A', '0146A', '0147A'],
 ['0147B', '0147C', '0147D', '0148A'],
 ['0148B', '0149A', '0150A', '0151A'],
 ['0152A', '0152B', '0153A', '0154A'],
 ['0155A', '0155B', '0155C', '0156'],
 ['0156B', '0157A', '0157B', '0158A'],
 ['0159A', '0159B', '0160A', '0161A'],
 ['0162A', '0162B', '0163A', '0164A'],
 ['0165A', '0165B', '0166A', '0167A'],
 ['0167B', '0168A', '0169A', '0170A'],
 ['0170B', '0170C', '0171A'],
 ['0172A', '0172B', '0172C'],
 ['0173A', '0173B', '0174A', '0175A'],
 ['0175B', '0176A', '0177A', '0177B'],
 ['0178A', '0178B', '0179A', '0180A'],
 ['0181A', '0182A', '0183A'],
 ['0183B', '0184A', '0184B'],
 ['0185A', '0185B', '0186A', '0186B'],
 ['0187A', '0187B', '0188A', '0188B'],
 ['0189A', '0189B', '0190A', '0190B'],
 ['0191A', '0191B', '0192A', '0193A'],
 ['0193B', '0194A', '0194B', '0194C'],
 ['0195A', '0196A', '0197A', '0198A'],
 ['0199A', '0199B', '0199C'],
 ['0200A', '0200B', '0201A', '0201B'],
 ['0202A', '0202B', '0203A', '0203B'],
 ['0204A', '0204B', '0205A', '0205B'],
 ['0206A', '0206B', '0207A', '0207B'],
 ['0208A', '0208B', '0209A', '0209B'],
 ['0210A', '0210B', '0211A', '0211B'],
 ['0212A', '0212B', '0213A', '0213B'],
 ['0214A', '0215A', '0216A', '0216B'],
 ['0216C', '0217A', '0217B', '0218A'],
 ['0218B', '0218C', '0219A', '0219B'],
 ['0219C', '0220A', '0220B', '0221A'],
 ['0221B', '0221C', '0221D', '0222A'],
 ['0222B', '0222C', '0223A', '0223B'],
 ['0223C', '0224A', '0224B', '0224C'],
 ['0225A', '0225B', '0226A', '0226B'],
 ['0227A', '0227B', '0228A', '0229A'],
 ['0229B', '0230A', '0230B', '0231A'],
 ['0231B', '0232A', '0232B', '0233A'],
 ['0233B', '0234A', '0234B', '0235A'],
 ['0235B', '0236A', '0237A', '0238A'],
 ['0238B', '0239A', '0240A'],
 ['0240B', '0241A', '0242A', '0243A'],
 ['0244A', '0244B', '0244C', '0245A'],
 ['0246A', '0246B', '0247A', '0247B'],
 ['0248A', '0248B', '0249A', '0250A'],
 ['0251A', '0251B', '0251C'],
 ['0252A', '0253A', '0254A'],
 ['0255A', '0255B', '0256A', '0256B'],
 ['0257A', '0257B', '0257C', '0258A'],
 ['0258B', '0258C', '0259A', '0260A'],
 ['0261A', '0262A', '0263A', '0264A'],
 ['0265A', '0266A', '0267A', '0267B'],
 ['0268A', '0269A', '0269B', '0270A'],
 ['0270B', '0271A', '0271B', '0271C'],
 ['0271D', '0272A', '0272B', '0272C'],
 ['0272D', '0273A', '0274A', '0275A'],
 ['0275B', '0276A', '0276B', '0277A'],
 ['0277B', '0278A', '0278B', '0279A'],
 ['0280A', '0281A', '0281B', '0282A'],
 ['0283A', '0283B', '0284A', '0284B'],
 ['0285A', '0285B', '0285C', '0285D'],
 ['0286A', '0286B', '0287A', '0287B'],
 ['0288A', '0288B', '0289A', '0289B'],
 ['0289C', '0290A', '0290B', '0290C'],
 ['0291A', '0291B', '0292A', '0292B'],
 ['0293A', '0293B', '0294A', '0295A'],
 ['0295B', '0296A', '0297A', '0298A'],
 ['0298B', '0298C', '0298D', '0299A'],
 ['0299B', '0300A', '0300B', '0301A'],
 ['0301B', '0301C', '0301D', '0302A'],
 ['0303A', '0304A', '0304B', '0304C'],
 ['0304D', '0305A', '0306A', '0307A'],
 ['0308A', '0309A', '0310A', '0310B'],
 ['0311A', '0311B', '0311C', '0311D'],
 ['0312A', '0312B', '0312C', '0312D'],
 ['0312E', '0313A', '0313B', '0313C'],
 ['0313D', '0313E', '0314A', '0314B'],
 ['0314C', '0314D', '0314E', '0315A'],
 ['0315B', '0315C', '0315D', '0316A'],
 ['0316B', '0316C', '0316D', '0317A'],
 ['0317B', '0317C', '0317D', '0318A'],
 ['0318B', '0318C', '0318D', '0319A'],
 ['0319B', '0319C', '0319D', '0320A'],
 ['0320B', '0320C', '0320D', '0320E'],
 ['0321A', '0321B', '0321C', '0321D'],
 ['0321E', '0321F', '0321G', '0322A'],
 ['0322B', '0322C', '0322D', '0322E'],
 ['0322F', '0323A', '0323B', '0323C'],
 ['0323D', '0323E', '0324A', '0324B'],
 ['0324C', '0324D', '0324E', '0324F'],
 ['0325A', '0325B', '0325C', '0325D'],
 ['0325E', '0325F', '0326A', '0326B'],
 ['0326C', '0326D', '0326E', '0327A'],
 ['0327B', '0327C', '0327D', '0328A'],
 ['0328B', '0328C', '0328D', '0328E'],
 ['0328F', '0328G', '0329A', '0329B'],
 ['0329C', '0329D', '0329E', '0330A'],
 ['0330B', '0330C', '0330D', '0331A'],
 ['0331B', '0331C', '0331D', '0331E'],
 ['0331F', '0332A', '0332B', '0332C'],
 ['0332D', '0332E', '0333A', '0333B'],
 ['0333C', '0333D', '0333E', '0333F'],
 ['0334A', '0334B', '0334C', '0334D'],
 ['0334F', '0335A', '0335B', '0335C'],
 ['0335D', '0335E', '0336A', '0336B'],
 ['0336C', '0337A', '0337B', '0337C'],
 ['0337D', '0337E', '0337F'],
 ['0338A', '0338B', '0338C', '0338D'],
 ['0339A', '0339B', '0340A', '0341A'],
 ['0342A', '0343A', '0344A', '0345A'],
 ['0345B', '0346A', '0347A', '0348A'],
 ['0349A', '0350A', '0350B', '0351A'],
 ['0351B', '0352A', '0352B', '0352C'],
 ['0353A', '0353B', '0354A', '0355A'],
 ['0356A', '0356B', '0356C', '0357A'],
 ['0358A', '0358B', '0359A', '0359B'],
 ['0360A', '0360B', '0360C', '0360D'],
 ['0361A', '0361B', '0362A', '0362B'],
 ['0363A', '0363B', '0364A', '0365A'],
 ['0365B', '0366A', '0366B', '0367A'],
 ['0368A', '0369A', '0370A', '0370B'],
 ['0371A', '0371B', '0372A'],
 ['0373A', '0373B', '0374A'],
 ['0374B', '0375A', '0375B'],
 ['0378A', '0376B 0376C', '0377A'],
 ['0377B', '0377C', '0378A', '0378B'],
 ['0378C', '0378D', '0378E', '0378F'],
 ['0379A', '0379B', '0379C', '0379D'],
 ['0379E', '0379F', '0379G', '0380A'],
 ['0380B', '0380C', '0380D', '0381A'],
 ['0381B', '0381C', '0382A', '0382B'],
 ['0383A', '0383B', '0384A', '0384B'],
 ['0384C', '0384D', '0385A', '0385B'],
 ['0386A', '0387A', '0388A', '0388B'],
 ['0388C', '0389A', '0389B', '0390A'],
 ['0390B', '0391A', '0392A', '0393A'],
 ['0394A', '0394B', '0394C', '0395A'],
 ['0395B', '0395C', '0395D', '0396A'],
 ['0396B', '0396C', '0396D', '0397A'],
 ['0397B', '0397C', '0397D', '0397E'],
 ['0397F', '0398A', '0398B', '0398C'],
 ['0398D', '0399A', '0399B', '0399C'],
 ['0399D', '0399E', '0399F', '0400A'],
 ['0400B', '0400C', '0400D', '0401A'],
 ['0401B', '0401C', '0401D', '0402A'],
 ['0402B', '0402C', '0402D', '0403A'],
 ['0403B', '0403C', '0404A', '0404B'],
 ['0404C', '0404D', '0405A', '0405B'],
 ['0405C', '0405D', '0406A', '0406B'],
 ['0406C', '0406D', '0406E', '0406F'],
 ['0407A', '0407B', '0407C', '0407D'],
 ['0408A', '0408B', '0408C', '0408D'],
 ['0408E', '0409A', '0409B', '0410A'],
 ['0410B', '0410C', '0410D', '0410E'],
 ['0410F', '0410G', '0411A', '0411B'],
 ['0411C', '0412A', '0412B', '0412C'],
 ['0413A', '0413B', '0413C', '0414A'],
 ['0414B', '0414C', '0414D', '0415A'],
 ['0415B', '0415C', '0416A', '0416B'],
 ['0417A', '0417B', '0417C', '0417D'],
 ['0418A', '0418B', '0419A', '0419B'],
 ['0419C', '0420A', '0420B', '0421A'],
 ['0421B', '0421C', '0422A', '0422B'],
 ['0423A', '0424A', '0424B', '0425A'],
 ['0425B', '0425C', '0426A', '0426B'],
 ['0427A', '0427C', '0428A', '0429A'],
 ['0429B', '0429C', '0430A', '0430B'],
 ['0431A', '0431B', '0432A'],
 ['0433A', '0434A', '0435A'],
 ['0436A', '0436B', '0436C', '0437A'],
 ['0437B', '0437C', '0438A', '0438B'],
 ['0438C', '0438D', '0439A', '0439B'],
 ['0440A', '0440B', '0441A', '0441B'],
 ['0441C', '0442A', '0442B', '0442C'],
 ['0442D', '0442E', '0443A', '0443B'],
 ['0443C', '0443D', '0444A', '0445A'],
 ['0445B', '0445C', '0445D', '0445E'],
 ['0446A', '0446B', '0446C', '0446D'],
 ['0446E', '0447A', '0447B', '0448A'],
 ['0448B', '0448C', '0449A', '0449B'],
 ['0450A', '0450B', '0450C', '0451A'],
 ['0451B', '0452A', '0452B', '0452C'],
 ['0452D', '0453A', '0453B', '0453C'],
 ['0454A', '0454B', '0455A', '0455B'],
 ['0456A', '0456B', '0456C', '0456D'],
 ['0457A', '0457B', '0457C', '0458A'],
 ['0458B', '0458C', '0458D', '0459A'],
 ['0459B', '0459C', '0460A', '0460B'],
 ['0460C', '0461A', '0461B', '0461C'],
 ['0462A', '0462B', '0463A', '0463B'],
 ['0464A', '0464B', '0465A', '0465B'],
 ['0465C', '0466A', '0466B', '0467A'],
 ['0467B', '0467C', '0468A', '0468B'],
 ['0469A', '0469B', '0470A', '0470B'],
 ['0470C', '0470D', '0471A', '0472A'],
 ['0473A', '0474A', '0474B', '0475A'],
 ['0475B', '0476A', '0477A', '0477B'],
 ['0477C', '0478A', '0478B', '0478C'],
 ['0479A', '0479B', '0479C', '0480A'],
 ['0481A', '0481B', '0482A', '0483A'],
 ['0483B', '0484A', '0484B', '0484C'],
 ['0485A', '0485B', '0486A', '0486B'],
 ['0487A', '0487B', '0487C', '0488A'],
 ['0488B', '0488C', '0488D'],
 ['0489A', '0490A', '0491A', '0492A'],
 ['0493A', '0494A', '0495A', '0496A'],
 ['0497A', '0498A', '0499A', '0500A'],
 ['0500B', '0500C', '0501A', '0502A'],
 ['0502B', '0503A', '0504A', '0504B'],
 ['0504C', '0505A', '0505B', '0505C'],
 ['0506A', '0506B', '0506C', '0507A'],
 ['0507B', '0508A', '0508B', '0509A'],
 ['0509B', '0510A', '0511A', '0511B'],
 ['0511C', '0512A', '0513A', '0514A'],
 ['0515A', '0516A', '0517A', '0518A'],
 ['0519A', '0520A', '0520B', '0521A'],
 ['0521B', '0522A', '0523A', '0524A'],
 ['0524B', '0525A', '0526A', '0526B'],
 ['0527A', '0528A', '0529A', '0530A'],
 ['0530B', '0531A', '0532A', '0533A', '0533B'],
 ['0534A', '0535A', '0535B', '0536A', '0537A'],
 ['0538A', '0539A', '0540A', '0540B', '0541A'],
 ['0541B', '0542A', '0543A', '0544A', '0544B'],
 ['0545A', '0546A', '0547A', '0548A'],
 ['0549A', '0550A', '0551A', '0552A', '0553A'],
 ['0554A', '0555A', '0556A', '0556B'],
 ['0557A', '0557B', '0558A', '0558B'],
 ['0559A', '0560A', '0561A', '0562A'],
 ['0563A', '0564A', '0565A', '0566A'],
 ['0567A', '0568A', '0569A', '0570A'],
 ['0570B', '0571A', '0572A', '0572B'],
 ['0573A', '0573B', '0574A'],
 ['0575A', '0575B', '0575C', '0576A'],
 ['0576B', '0576C', '0577A', '0577B'],
 ['0578A', '0578B', '0578C', '0579A'],
 ['0579B', '0580A', '0580B', '0581A'],
 ['0581B', '0582A', '0582B', '0582C'],
 ['0583A', '0583B', '0584A', '0584B'],
 ['0585A', '0586A', '0587A', '0588A'],
 ['0589A', '0589B', '0590A', '0590B'],
 ['0591A', '0591B', '0591C', '0592A'],
 ['0592B', '0593A', '0593B', '0594A'],
 ['0595A', '0595B', '0596A'],
 ['0597A', '0598A', '0598B'],
 ['0599A', '0600A', '0600B', '0601A'],
 ['0602A', '0602B', '0603A', '0604A'],
 ['0605A', '0606A', '0607A', '0607B'],
 ['0608A', '0609A', '0610A', '0611A'],
 ['0612A', '0613A', '0614A', '0615A'],
 ['0616A', '0617A', '0618A', '0619A'],
 ['0620A', '0621A', '0622A'],
 ['0622B', '0623A', '0624A', '0624B'],
 ['0625A', '0626A', '0626B', '0626C'],
 ['0627A', '0627B', '0628A', '0629A'],
 ['0630A', '0630B', '0630C', '0631A'],
 ['0631B', '0632A', '0633A', '0633B'],
 ['0633C', '0634A', '0634B', '0634C'],
 ['0634D', '0634E', '0635A'],
 ['0635B', '0636A', '0636B'],
 ['0637A', '0638A', '0639A', '0640A'],
 ['0641A', '0642A', '0642B', '0643A'],
 ['0644A', '0645A', '0646A', '0647A'],
 ['0648A', '0648B', '0649A', '0650A'],
 ['0651A', '0651B', '0652A', '0652B'],
 ['0652C', '0653A', '0654A', '0655A'],
 ['0656A', '0657A', '0658A', '0659A'],
 ['0659B', '0660A', '0661A', '0661B'],
 ['0662A', '0662B', '0663A', '0663B'],
 ['0664A', '0664B', '0665A', '0666A'],
 ['0666B', '0667A', '0668A', '0669A'],
 ['0670A', '0671A', '0671B', '0672A'],
 ['0673A', '0673B', '0674A', '0674B'],
 ['0674C', '0675A', '0675B', '0676A'],
 ['0676B', '0677A', '0678A', '0679A'],
 ['0680A', '0680B', '0681A', '0681B', '0682A'],
 ['0682B', '0683A', '0683B', '0684A', '0685A'],
 ['0685B', '0685C', '0686A', '0686B', '0687A'],
 ['0687B', '0688A', '0689A', '0690A'],
 ['0690B', '0691A', '0691B', '0692A'],
 ['0692B', '0692C', '0693A', '0694A'],
 ['0695A', '0696A', '0697A', '0698A'],
 ['0699A', '0700A', '0701A', '0702A'],
 ['0703A', '0704A', '0705A', '0706A'],
 ['0707A', '0708A', '0709A', '0709B'],
 ['0710A', '0710B', '0711A', '0712A'],
 ['0713A', '0713B', '0714A', '0714B'],
 ['0715A', '0715B', '0716A', '0716B'],
 ['0717A', '0718A', '0718B', '0719A'],
 ['0720A', '0720B', '0721A', '0721B'],
 ['0722A', '0722B', '0723A', '0723B'],
 ['0724A', '0724B', '0725A', '0726A'],
 ['0726B', '0727A', '0728A', '0728B'],
 ['0729A', '0729B', '0730A', '0731A']]

In [301]:
cp_precinct_count = {}
for ind in range(len(precinct_numbers)):
    cp_precinct_count[str(ind+1)] = len(precinct_numbers[ind])

In [304]:
pd.Series(cp_precinct_count).to_excel('Precinct Count per Clustered Precinct.xlsx')