# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. How many products cost more than $10.00?

In [15]:
chipo_transformed = chipo.copy()
chipo_transformed.item_price = chipo_transformed.item_price.str.slice(start=1, stop=-1).astype('float')
chipo_nodups = chipo_transformed.drop_duplicates(subset=['quantity','item_name','choice_description'])
chipo_nodups[(chipo_nodups['item_price'] > 10.00) & (chipo_nodups['quantity'] == 1)].item_name.nunique()

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [17]:
chipo_nodups[['item_name', 'item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
3890                  Carnitas Crispy Tacos       17.98
3973                      Canned Soft Drink        5.00
4152                          Bottled Water       15.00
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80

[103 rows x 2 columns]

### Step 6. Sort by the name of the item

In [ ]:
chipo[['item_name', 'item_price']].sort_values(by='item_name')

### Step 7. What was the quantity of the most expensive item ordered?

In [ ]:
chipo[chipo['quantity'] == chipo['quantity'].max()]

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
chipo['item_name'].value_counts()['Veggie Salad Bowl']

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].shape[0]