In [1]:
import pandas as pd
import numpy as np

In [2]:
angola_df = pd.read_excel('./Angola.xlsx')

In [3]:
angola_df.head()

,Business Model,Category,Subcategory,Company Name,Address,State,Country,Contact No.,Fax No.,Website,Email,Annual Sales,Employees
0,OEM,NC Machine Tools,Digital Printers,"Acail Angola - Indust.Comercio De Ferro, S.A","Km 23 Polo Industrial De Viana, Luanda, Northe...",Northern Angola,Angola,244-929-602-872,NaN,https://www.acailangola.com/,NaN,4368000.0,NaN
1,OEM,NC Machine Tools,Direct Thermal Transfer Printers,"Acail Angola - Indust.Comercio De Ferro, S.A","Km 23 Polo Industrial De Viana, Luanda, Northe...",Northern Angola,Angola,244-929-602-872,NaN,https://www.acailangola.com/,NaN,4368000.0,NaN
2,OEM,Machinery Parts & Components,Display Screen,"Asco - Angolan Services Company, Lda","Rua Joao De Barros, Luanda, Northern Angola, A...",Northern Angola,Angola,244-931-823-449,NaN,https://asco-lda.com/,NaN,5410600.0,NaN
3,OEM,Machinery Parts & Components,Display Screen,"Asco - Angolan Services Company, Lda","Rua Joao De Barros, Luanda, Northern Angola, A...",Northern Angola,Angola,244-931-823-449,NaN,https://asco-lda.com/,NaN,5410600.0,NaN
4,OEM,Machinery Parts & Components,Drill Brushes,"Asco - Angolan Services Company, Lda","Rua Joao De Barros, Luanda, Northern Angola, A...",Northern Angola,Angola,244-931-823-449,NaN,https://asco-lda.com/,NaN,5410600.0,NaN

In [7]:
angola_df.shape

(352, 13)

In [8]:
angola_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Business Model  352 non-null    object
 1   Category        352 non-null    object
 2   Subcategory     352 non-null    object
 3   Company Name    352 non-null    object
 4   Address         344 non-null    object
 5   State           344 non-null    object
 6   Country         352 non-null    object
 7   Contact No.     277 non-null    object
 8   Fax No.         7 non-null      object
 9   Website         319 non-null    object
 10  Email           70 non-null     object
 11  Annual Sales    340 non-null    float64
 12  Employees       210 non-null    float64
dtypes: float64(2), object(11)
memory usage: 35.9+ KB

In [9]:
angola_df.drop_duplicates(inplace=True)

In [10]:
angola_df.shape

(284, 13)