In [1]:
import pandas as pd
import numpy as np

## Angola

In [2]:
angola_df = pd.read_excel('./Angola.xlsx')

In [3]:
angola_df.head()

,Business Model,Category,Subcategory,Company Name,Address,State,Country,Contact No.,Fax No.,Website,Email,Annual Sales,Employees
0,OEM,NC Machine Tools,Digital Printers,"Acail Angola - Indust.Comercio De Ferro, S.A","Km 23 Polo Industrial De Viana, Luanda, Northe...",Northern Angola,Angola,244-929-602-872,NaN,https://www.acailangola.com/,NaN,4368000.0,NaN
1,OEM,NC Machine Tools,Direct Thermal Transfer Printers,"Acail Angola - Indust.Comercio De Ferro, S.A","Km 23 Polo Industrial De Viana, Luanda, Northe...",Northern Angola,Angola,244-929-602-872,NaN,https://www.acailangola.com/,NaN,4368000.0,NaN
2,OEM,Machinery Parts & Components,Display Screen,"Asco - Angolan Services Company, Lda","Rua Joao De Barros, Luanda, Northern Angola, A...",Northern Angola,Angola,244-931-823-449,NaN,https://asco-lda.com/,NaN,5410600.0,NaN
3,OEM,Machinery Parts & Components,Display Screen,"Asco - Angolan Services Company, Lda","Rua Joao De Barros, Luanda, Northern Angola, A...",Northern Angola,Angola,244-931-823-449,NaN,https://asco-lda.com/,NaN,5410600.0,NaN
4,OEM,Machinery Parts & Components,Drill Brushes,"Asco - Angolan Services Company, Lda","Rua Joao De Barros, Luanda, Northern Angola, A...",Northern Angola,Angola,244-931-823-449,NaN,https://asco-lda.com/,NaN,5410600.0,NaN

In [7]:
angola_df.shape

(352, 13)

In [8]:
angola_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Business Model  352 non-null    object
 1   Category        352 non-null    object
 2   Subcategory     352 non-null    object
 3   Company Name    352 non-null    object
 4   Address         344 non-null    object
 5   State           344 non-null    object
 6   Country         352 non-null    object
 7   Contact No.     277 non-null    object
 8   Fax No.         7 non-null      object
 9   Website         319 non-null    object
 10  Email           70 non-null     object
 11  Annual Sales    340 non-null    float64
 12  Employees       210 non-null    float64
dtypes: float64(2), object(11)
memory usage: 35.9+ KB

In [9]:
angola_df.drop_duplicates(inplace=True)

In [10]:
angola_df.shape

(284, 13)

In [12]:
import os
print(os.listdir())

['.ipynb_checkpoints', 'Angola.xlsx', 'Burundi.xlsx', 'Central African Republic (CAR).xlsx', 'drop_duplicates.ipynb', 'Gambia.xlsx', 'Malawi.xlsx', 'Rwanda.xlsx']

In [13]:
burundi_df = pd.read_excel('Burundi.xlsx')
burundi_df.head()

,Business Model,Category,Subcategory,Company Name,Address,State,Country,Contact No.,Fax No.,Website,Email,Annual Sales,Employees
0,End-user,Wood,Wood Product,BURUNDI QUALITY STOVES S.A.,"Quartier Industriel Bujumbura, 12 Burundi",Bujumbura,Burundi,257 76 89 70 78\n,NaN,NaN,NaN,3850000.0,NaN
1,End-user,Textile,Textile,Afritextile,"Avenue de L’Agriculture , BP.4916-Bujumbura",Bujumbura,Burundi,257 22276481,NaN,https://www.afritextile.bi/,info@afritextile.net,NaN,NaN
2,End-user,Printing,Print,Grace Media,"29 Bd de l'Uprona, Bujumbura, Burundi",Bujumbura,Burundi,257 68 30 90 90,NaN,NaN,NaN,NaN,NaN
3,End-user,Plastic,Plastic,B.R.A PLASTEX M.F.G S.A,"M8GJ+2RF, Bujumbura, Burundi",Bujumbura,Burundi,257 69 21 21 21,NaN,https://bramfg.com/,NaN,740120.0,20.0
4,End-user,Plastic,Plastic,B.R.A Mfg\n,"28 Ave Ntahangwa, Bujumbura, Burundi",Bujumbura,Burundi,257 65 88 89 99,NaN,NaN,NaN,NaN,NaN

In [14]:
burundi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Business Model  76 non-null     object
 1   Category        76 non-null     object
 2   Subcategory     76 non-null     object
 3   Company Name    76 non-null     object
 4   Address         76 non-null     object
 5   State           76 non-null     object
 6   Country         76 non-null     object
 7   Contact No.     73 non-null     object
 8   Fax No.         7 non-null      object
 9   Website         32 non-null     object
 10  Email           19 non-null     object
 11  Annual Sales    25 non-null     float64
 12  Employees       12 non-null     float64
dtypes: float64(2), object(11)
memory usage: 7.8+ KB

In [16]:
burundi_df.describe()

       Annual Sales  Employees
count  2.500000e+01  12.000000
mean   3.768888e+06  27.666667
std    4.254098e+06  28.288556
min    5.018600e+04   1.000000
25%    7.746960e+05   8.750000
50%    2.295500e+06  19.500000
75%    5.638900e+06  35.500000
max    1.629770e+07  98.000000

In [17]:
burundi_df.drop_duplicates(inplace=True)

In [19]:
burundi_df.shape

(76, 13)

No duplicates for Burundi.

In [21]:
car_df = pd.read_excel('Central African Republic (CAR).xlsx')
car_df.shape

(3, 13)

In [22]:
car_df.drop_duplicates(inplace=True)
car_df.shape

(3, 13)

No duplicates for CAR.

In [23]:
gambia_df = pd.read_excel('Gambia.xlsx')
gambia_df.shape

(110, 13)

In [24]:
gambia_df.drop_duplicates(inplace=True)
gambia_df.shape

(109, 13)

There's one duplicate for Gambia.